//- section.pb-0.pb-lg-4
    //- .container
    //-     .row
    //-         .col-12.text-center.text-gray-700
    //-         .d-inline-block
    //-             span &copy; Copyright 2022
    //-             | ,
    //-             span Behappy cu&#x1ED9;c s&#x1ED1;ng m&ecirc; ly!
    //-     .row.mt-2
    //-         .col-12.text-center
    //-             ul.menu.text-muted.fw-bold.order-1.justify-content-center
    //-                 li.menu-item
    //-                 a.menu-link.px-2.text-muted(href='about-us.html') Gi&#x1EDB;i thi&#x1EC7;u
    //-                 li.menu-item
    //-                 a.menu-link.px-2.text-muted(href='privacy.html') Ch&iacute;nh s&aacute;ch b&#x1EA3;o m&#x1EAD;t
    //-                 li.menu-item
    //-                 a.menu-link.px-2.text-muted(href='terms.html') &Dstrok;i&#x1EC1;u kho&#x1EA3;n s&#x1EED; d&#x1EE5;ng
    //-                 li.menu-item
    //-                 a.menu-link.px-2.text-muted(href='contact.html') Li&ecirc;n h&#x1EC7;
    //-                 li.menu-item
    //-                 a.menu-link.px-2.text-muted(href='survey.html') &Dstrok;&aacute;nh gi&aacute;

    //-end of .container
    //-<section> close ============================
    .py-5.text-center
        p.mb-0.text-secondary.fs--1.fw-medium All rights huyhung TDTU 