footer.py-5.bg-gray-200.mt-auto
  .container
    .row
      .col-12.text-center.text-gray-700
        .d-inline-block
          span &copy; Copyright 2022
          | ,
          span Behappy cu&#x1ED9;c s&#x1ED1;ng m&ecirc; ly!