head
    block head
        //- script(src='https://unpkg.com/axios/dist/axios.min.js')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title #{title}
    link(rel='icon' type='image/png' href='/favicon/favicon.png')
    link(rel='preconnect' href='https://fonts.googleapis.com/')
    link(rel='preconnect' href='https://fonts.gstatic.com/' crossorigin='')
    link(rel="shortcut icon" type="image/x-icon" href="https://preview.iwedding.info/templates/template6/favicon.ico")
    link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/libs.bundle2b87.css')
    link(rel='stylesheet' href='/css/theme.bundle2b87.css?v=20210926')
    link(rel='stylesheet' href='/css/themef9f5.css?v=202111121')
    meta(property='og:site_name' content='#')
    meta(property='og:type' content='website')
    meta(property='og:url' content='wedding.html')
    meta(name='twitter:card' content='summary')
    meta(name='twitter:domain' content='/wedding.html')
    meta(name='twitter:site' content='#')
    meta(property='og:title' content='Nền tảng tạo website đám cưới miễn phí! - #')
    meta(itemprop='name' content='Nền tảng tạo website đám cưới miễn phí! - #')
    meta(name='description' content='Hãy xây dựng một website tuyệt vời cho ngày cưới của bạn, để câu chuyện tình yêu và sự kiện trọng đại được lưu giữ mãi theo thời gian.')
    meta(property='og:description' content='Hãy xây dựng một website tuyệt vời cho ngày cưới của bạn, để câu chuyện tình yêu và sự kiện trọng đại được lưu giữ mãi theo thời gian.')
    meta(name='twitter:description' content='Hãy xây dựng một website tuyệt vời cho ngày cưới của bạn, để câu chuyện tình yêu và sự kiện trọng đại được lưu giữ mãi theo thời gian.')
    meta(property='og:image' content='/img/featured.png')
    meta(property='og:image:url' content='/img/featured.png')
    meta(property='og:image:secure_url' content='/img/featured.png')
    meta(property='twitter:image:src' content='/img/featured.png')
    meta(itemprop='image' content='/img/featured.png')
    meta(name='csrf-param' content='_csrf-Behappy')
    meta(name='csrf-token' content='3W6rXH3oIR-ZhLWYhiJd5hg5QH8Tuiuc1uegHepZnsu4L-oLSKtvZazm8dS3Thy8fn50Nnn2ffau39BN3j73jA==')
    link(href='wedding.html' rel='canonical')



body.flex-colum.h-100(style='padding-top:65px!important')
    //-header
    include _header

    //-main
    block content

    //-footer
    include _footer
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript")
    script(src='/js/preview.js')
    script(src='/js/theme.bundlef9f5.js')
    script(src='/js/themee030.js')
    script(src='/js/themef9f5.js') 
    script(src='/js/vendor.bundlef9f5.js')
    script(src='/libs/jquery.min3c8e.js')
    script(src='/assets/705bcf32/yii.js')
    script(src='/assets/705bcf32/yii.activeForm.js')
    script(src='/assets/705bcf32/yii.validation.js')
    script(src='/assets/705bcf32/yii.captcha.js')
    script(src="https://www.googletagmanager.com/gtag/js?id=G-P4QBSSV7TG")
    script(src='/js/scripts.js')


