extend base
block content 
  if(weddings)
    section.py-8.py-md-11.border-top
      .container
        .row.justify-content-center
          .col-12.col-md-10.col-lg-8.text-center
            h2.fw-bold.mb-5
              | T&#x1EA1;o website th&agrave;nh c&ocirc;ng!
            p.fs-lg.text-muted.mb-6.mb-md-6
              | Behappy r&#x1EA5;t t&#x1EF1; h&agrave;o v&igrave; &dstrok;&atilde; tr&#x1EDF; th&agrave;nh m&#x1ED9;t ph&#x1EA7;n trong k&#x1EBF; ho&#x1EA1;ch tr&#x1ECD;ng &dstrok;&#x1EA1;i c&#x1EE7;a b&#x1EA1;n. C&ograve;n b&acirc;y gi&#x1EDD;, h&atilde;y v&agrave;o &quot;Ch&#x1EC9;nh s&#x1EED;a website&quot;, c&#x1EAD;p nh&#x1EAD;t n&#x1ED9;i dung th&#x1EAD;t hay, t&#x1EA3;i l&ecirc;n nh&#x1EEF;ng h&igrave;nh &#x1EA3;nh th&#x1EAD;t &dstrok;&#x1EB9;p, &dstrok;&#x1EC3; website c&#x1EE7;a b&#x1EA1;n tr&#x1EDF; n&ecirc;n &#x1EA5;n t&#x1B0;&#x1EE3;ng nh&#x1EA5;t, v&agrave; chia s&#x1EBB; n&oacute; cho b&#x1EA1;n b&egrave;.
        .row.justify-content-center
          .col-12.col-sm-6.col-md-5.col-lg-4
            .d-block.text-center
              a.btn.btn-secondary.w-100.mb-3(href=`/wedding/edit/${weddings.id}` target='_blank')
                span.fe.fe-edit
                |  Ch&#x1EC9;nh s&#x1EED;a website
              a.btn.btn-danger.w-100.mb-3(href=`/wedding/preview/${weddings.id}` target='_blank')
                span.fe.fe-globe
                |  Xem website c&#x1B0;&#x1EDB;i
  else 
    .container(style='text-align:center;heigth:100vh;') 
      h2 WebSite Của Bạn Vừa Bị Xóa
      a(href='/wedding/templates/createwedding')
        span.fe.fe-globe
          |  Bạn Có Thể Nhấp Vào Đây Để Tạo Lại WebSite!!!