extend base
block content  
    main.main
        div.mt-4
            h1(style="text-align:center;font-size:32px") Create a new tour
            form(class="mt-4" method="POST" action='/user/stored')
                div.row.mt-4(style="font-size:20px")
                    div.col-md-6.form-group.mt-5
                        label(for="name") Tour Name
                        input(type="text" class="form-control" id="name" name="name" style="height:45px;font-size:15px" placeholder="Enter tour name" maxlength="40" minlength="10" required)
                div.wrapper.mt-8(style="display:flex;justify-content:center;")
                    button( type="submit" class="btn btn-primary" style="font-size:20px;width:30%;border-radius:25px") Create   