extend base
block content 
  section.py-8.py-md-11.bg-light
    .container
      .row.justify-content-center
        .col-12.col-md-10.col-lg-7.text-center
          h2.fw-bold
            | B&#x1EAF;t &dstrok;&#x1EA7;u website c&#x1EE7;a b&#x1EA1;n.
          p.fs-lg.text-muted.mb-7.mb-md-9
            | S&#x1EDF; h&#x1EEF;u website &dstrok;&aacute;m c&#x1B0;&#x1EDB;i mi&#x1EC5;n ph&iacute; tr&#x1ECD;n &dstrok;&#x1EDD;i cho hai b&#x1EA1;n trong v&agrave;i n&#x1ED1;t nh&#x1EA1;c. M&#x1ED9;t phong c&aacute;ch m&#x1EDB;i &dstrok;&#x1EC3; l&#x1B0;u gi&#x1EEF; k&#x1EF7; ni&#x1EC7;m, chia s&#x1EBB; h&igrave;nh &#x1EA3;nh, c&acirc;u chuy&#x1EC7;n t&igrave;nh y&ecirc;u,... cho ng&agrave;y c&#x1B0;&#x1EDB;i c&#x1EE7;a b&#x1EA1;n th&ecirc;m s&#x1EF1; th&uacute; v&#x1ECB; v&agrave; hi&#x1EC7;n &dstrok;&#x1EA1;i.
      .row.justify-content-center
        .col-12.col-md-10.col-lg-7
          .card.card-row.shadow-light-lg.mb-6.lift.lift-lg
            .row.gx-0
              .col-12
              a.col-12.col-md-6.order-md-2.bg-cover.card-img-end(style='background-image: url(/img/templates/picture1.jpg);' href='https://preview.iwedding.info/?template=6174ee7a7a1c7661fb0a671c' target='_blank')
                img.img-fluid.d-md-none.invisible(src='/img/templates/picture1.jpg' alt='Modern')
                .shape.shape-start.shape-fluid-y.text-white.d-none.d-md-block
                  svg(viewbox='0 0 112 690' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z' fill='currentColor')
              .col-12.col-md-6.order-md-1
                a.card-body(href='/wedding/preview/62793abbf277951fc0119a7b' target='_blank')
                  h3
                    | Bao Anh
                  p.mb-0.text-muted
                    | Ch&#x1EE7; &dstrok;&#x1EC1; h&#x1B0;&#x1EDB;ng &dstrok;&#x1EBF;n s&#x1EF1; tr&#x1EBB; trung, t&#x1B0;&#x1A1;i m&#x1EDB;i v&agrave; tr&agrave;n &dstrok;&#x1EA7;y n&abreve;ng l&#x1B0;&#x1EE3;ng c&#x1EE7;a tu&#x1ED5;i tr&#x1EBB;. Mang &dstrok;&#x1EBF;n c&#x1EA3;m ph&oacute;ng kho&aacute;ng, t&#x1EF1; do kh&ocirc;ng theo m&#x1ED9;t khu&ocirc;n kh&#x1ED5; nh&#x1EA5;t &dstrok;&#x1ECB;nh n&agrave;o.
                .card-meta(href='/wedding/preview/62793abbf277951fc0119a7b' target='_blank')
                  hr.card-meta-divider
                  .d-block.w-100.text-center
                    a.btn.btn-sm.btn-secondary-soft(href='/wedding/preview/62793abbf277951fc0119a7b' target='_blank') Xem giao di&#x1EC7;n
        if user
          .col-12.col-md-10.col-lg-7
            .card.shadow-light-lg.overflow-hidden.text-center.text-lg-start
              .card-body.py-7.py-md-9
                form(method="POST" action='/wedding/complete')
                  .row
                    .col-md-6
                      .form-group.field-malename.required
                        .form-floating.mb-2.form-group
                          input#malename.form-control(type='text' name='malename' placeholder='Tên chú rể' aria-required='true' required)
                          label.control-label(for='malename') Tên Chú Rể(Nhập Chữ Lót và Tên)
                          .help-block
                        .form-floating.mb-2.form-group
                          input#templateId.form-control(type='hidden' name='templateId' placeholder='Tên chú rể' aria-required='true' value='1' required)
                    .col-md-6
                      .form-group.field-fename.required
                        .form-floating.mb-2.form-group
                          input#fename.form-control(type='text' name='fename' placeholder='Tên cô dâu' aria-required='true' required)
                          label.control-label(for='name') Tên Cô Dâu(Nhập Chữ Lót và Tên)
                          .help-block
                  .form-group.field-wedding_date.required
                    .form-floating.mb-2.form-group.date-custom
                      input#date.form-control(type='date' name='date' placeholder='Ngày cưới...' data-date='yyyy-mm-dd' data-date-format='YYYY-MM-DD' min='1942-05-08' max='2025-05-08' aria-required='true' required)
                      label.control-label(for='startsiteform-wedding_date') Ng&agrave;y c&#x1B0;&#x1EDB;i c&#x1EE7;a b&#x1EA1;n
                      .help-block
                  .d-block.text-center.mt-7
                    button.btn.btn-danger Kh&#x1EDF;i t&#x1EA1;o website
                    a.btn.btn-secondary(href='i/wedding/templates') Ch&#x1ECD;n giao di&#x1EC7;n kh&aacute;c
        else 
          .col-12.col-md-10.col-lg-7.mb-6
            .border.border-2.border-danger.shadow.bg-danger-soft.p-3.text-center
              h3 B&#x1EA1;n c&#x1EA7;n &dstrok;&abreve;ng nh&#x1EAD;p &dstrok;&#x1EC3; c&oacute; th&#x1EC3; kh&#x1EDF;i t&#x1EA1;o website!
              a.btn.btn-danger.btn-xs(href='/vi/user/login?back=L3ZpL3dlZGRpbmcvc3RhcnQ%2FdGVtcGxhdGU9NjE3NGVlN2E3YTFjNzY2MWZiMGE2NzFj') &Dstrok;&abreve;ng nh&#x1EAD;p
              a.btn.btn-success.btn-xs(href='/vi/user/register?back=L3ZpL3dlZGRpbmcvc3RhcnQ%2FdGVtcGxhdGU9NjE3NGVlN2E3YTFjNzY2MWZiMGE2NzFj') T&#x1EA1;o t&agrave;i kho&#x1EA3;n


