extend base
block content
  .main
    .container.mt-10.mb-14(style='height:306px')
      form.reset-password-form
        .form-group
          label(for='password') Nhập Mật Khẩu Mới Của Bạn
          input#password.form-control(type='password'  placeholder='Nhập Mật Khẩu')
          input#token(type='hidden' value=`${users}`)
        .form-group
          label(for='passwordConfirm') Nhập Lại Mật Khẩu
          input#passwordConfirm.form-control(type='password' placeholder='Nhập Lại Mật Khẩu')
        button#ChangeButton.btn.btn-primary(type='submit') Change Password
