extend base
block content
        section.py-8.py-md-11.border-top
            .container
                .row.justify-content-center.mb-7
                .col-12
                    h1.display-2.text-center.mb-8
                        | &Dstrok;i&#x1EC1;u kho&#x1EA3;n s&#x1EED; d&#x1EE5;ng
                    p.text-gray-700
                        | Vui l&ograve;ng &dstrok;&#x1ECD;c k&#x1EF9; nh&#x1EEF;ng qui &dstrok;&#x1ECB;nh b&ecirc;n d&#x1B0;&#x1EDB;i tr&#x1B0;&#x1EDB;c khi s&#x1EED; d&#x1EE5;ng Website
                        | n&agrave;y. N&#x1EBF;u qu&yacute; kh&aacute;ch kh&ocirc;ng &dstrok;&#x1ED3;ng &yacute; v&#x1EDB;i c&aacute;c &dstrok;i&#x1EC1;u kho&#x1EA3;n s&#x1EED; d&#x1EE5;ng c&#x1EE7;a
                        | ch&uacute;ng t&ocirc;i, xin vui l&ograve;ng kh&ocirc;ng truy c&#x1EAD;p v&agrave;o trang web. B&#x1EB1;ng vi&#x1EC7;c s&#x1EED;
                        | d&#x1EE5;ng ho&#x1EB7;c thu th&#x1EAD;p b&#x1EA5;t k&#x1EF3; th&ocirc;ng tin n&agrave;o tr&ecirc;n trang web n&agrave;y, qu&yacute;
                        | kh&aacute;ch x&aacute;c nh&#x1EAD;n vi&#x1EC7;c &dstrok;&#x1ED3;ng &yacute; v&#x1EDB;i c&aacute;c &dstrok;i&#x1EC1;u kho&#x1EA3;n s&#x1EED; d&#x1EE5;ng v&agrave; c&aacute;c s&#x1EED;a
                        | &dstrok;&#x1ED5;i ho&#x1EB7;c b&#x1ED5; sung trong t&#x1B0;&#x1A1;ng lai m&agrave; kh&ocirc;ng c&oacute; b&#x1EA5;t k&#x1EF3; h&#x1EA1;n ch&#x1EBF; n&agrave;o.
                        | V&igrave; v&#x1EAD;y, qu&yacute; kh&aacute;ch n&ecirc;n truy c&#x1EAD;p v&agrave;o trang n&agrave;y th&#x1B0;&#x1EDD;ng xuy&ecirc;n &dstrok;&#x1EC3; bi&#x1EBF;t
                        | &dstrok;i&#x1EC1;u kho&#x1EA3;n s&#x1EED; d&#x1EE5;ng &dstrok;ang c&oacute; hi&#x1EC7;u l&#x1EF1;c m&agrave; theo &dstrok;&oacute; qu&yacute; kh&aacute;ch ph&#x1EA3;i tu&acirc;n
                        | th&#x1EE7;.
                    h2.fw-bold.text-gray-700.mt-6 M&ocirc; t&#x1EA3; d&#x1ECB;ch v&#x1EE5;
                    p.text-gray-700
                        | D&#x1ECB;ch v&#x1EE5; Behappy cung c&#x1EA5;p bao g&#x1ED3;m c&aacute;c c&ocirc;ng c&#x1EE5; ph&aacute;t tri&#x1EC3;n web tr&#x1EF1;c
                        | tuy&#x1EBF;n v&agrave; c&aacute;c &#x1EE9;ng d&#x1EE5;ng web &dstrok;&#x1B0;&#x1EE3;c l&#x1B0;u tr&#x1EEF; v&agrave; t&#x1ED5; ch&#x1EE9;c ho&#x1EA1;t &dstrok;&#x1ED9;ng b&#x1EDF;i
                        | Behappy , cho ph&eacute;p b&#x1EA1;n t&#x1EA1;o v&agrave; xu&#x1EA5;t b&#x1EA3;n c&aacute;c trang web sau &dstrok;&acirc;y g&#x1ECD;i
                        | t&#x1EAF;t l&agrave; &ldquo;&#x1EE8;ng d&#x1EE5;ng web Behappy &rdquo;.
                    p.text-gray-700
                        | Ng&#x1B0;&#x1EDD;i d&ugrave;ng / kh&aacute;ch h&agrave;ng c&#x1EE7;a Trang web v&agrave; &#x1EE8;ng d&#x1EE5;ng web Behappy s&#x1EBD;
                        | &dstrok;&#x1B0;&#x1EE3;c g&#x1ECD;i l&agrave; &ldquo;b&#x1EA1;n&rdquo;. D&#x1ECB;ch v&#x1EE5; c&utilde;ng bao g&#x1ED3;m d&#x1ECB;ch v&#x1EE5; l&#x1B0;u tr&#x1EEF; web cho
                        | c&aacute;c trang web kh&aacute;c m&agrave; b&#x1EA1;n t&#x1EA1;o ra th&ocirc;ng qua Trang web.
                    h2.fw-bold.text-gray-700.mt-6
                        | Quy &dstrok;&#x1ECB;nh ng&#x1B0;&#x1EDD;i d&ugrave;ng v&agrave; c&#x1EA5;p ph&eacute;p ng&#x1B0;&#x1EDD;i d&ugrave;ng
                    p.text-gray-700
                        | &Dstrok;&#x1EC3; s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5;, Ng&#x1B0;&#x1EDD;i d&ugrave;ng ph&#x1EA3;i &dstrok;&#x1ED3;ng &yacute; v&agrave; tu&acirc;n theo c&aacute;c &Dstrok;i&#x1EC1;u
                        | kho&#x1EA3;n &dstrok;&#x1B0;&#x1EE3;c quy &dstrok;&#x1ECB;nh t&#x1EA1;i Th&#x1ECF;a thu&#x1EAD;n n&agrave;y v&agrave; c&aacute;c quy &dstrok;&#x1ECB;nh c&#x1EE7;a &dstrok;&#x1A1;n v&#x1ECB;
                        | cung c&#x1EA5;p d&#x1ECB;ch v&#x1EE5; m&agrave; Behappy c&oacute; li&ecirc;n k&#x1EBF;t. Ng&#x1B0;&#x1EDD;i d&ugrave;ng t&#x1EF1; ch&#x1ECB;u tr&aacute;ch
                        | nhi&#x1EC7;m v&#x1EC1; n&abreve;ng l&#x1EF1;c h&agrave;nh vi trong vi&#x1EC7;c &dstrok;&abreve;ng k&yacute; t&agrave;i kho&#x1EA3;n v&agrave; s&#x1EED; d&#x1EE5;ng
                        | d&#x1ECB;ch v&#x1EE5; v&agrave; cam k&#x1EBF;t b&#x1EA3;o &dstrok;&#x1EA3;m t&#x1EEB; &dstrok;&#x1EE7; 13 tu&#x1ED5;i tr&#x1EDF; l&ecirc;n.
                    p.text-gray-700
                        | B&#x1EA1;n &dstrok;&#x1B0;&#x1EE3;c c&#x1EA5;p ph&eacute;p &dstrok;&#x1EC3; truy c&#x1EAD;p, s&#x1EED; d&#x1EE5;ng &#x1EE8;ng d&#x1EE5;ng web Behappy v&agrave;
                        | ho&#x1EA1;t &dstrok;&#x1ED9;ng tr&ecirc;n c&aacute;c trang web &dstrok;&#x1B0;&#x1EE3;c l&#x1B0;u tr&#x1EEF; b&#x1EDF;i Behappy (&ldquo;Trang web
                        | th&agrave;nh vi&ecirc;n&rdquo;). M&#x1ECD;i n&#x1ED9;i dung c&agrave;i &dstrok;&#x1EB7;t ho&#x1EA1;t &dstrok;&#x1ED9;ng c&#x1EE7;a b&#x1EA1;n, Behappy
                        | kh&ocirc;ng c&oacute; tr&aacute;ch nhi&#x1EC7;m ph&ecirc; duy&#x1EC7;t, ki&#x1EC3;m so&aacute;t n&#x1ED9;i dung, m&agrave; b&#x1EA1;n ph&#x1EA3;i t&#x1EF1;
                        | ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m cho vi&#x1EC7;c s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; c&#x1EE7;a m&igrave;nh.
                    p.text-gray-700
                        | B&#x1EA1;n l&agrave; ng&#x1B0;&#x1EDD;i tr&#x1EF1;c ti&#x1EBF;p qu&#x1EA3;n l&yacute;, duy tr&igrave; quy&#x1EC1;n s&#x1EED; d&#x1EE5;ng c&aacute;c d&#x1ECB;ch v&#x1EE5;
                        | c&#x1EE7;a m&igrave;nh, t&#x1EF1; ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m &dstrok;&#x1ED1;i v&#x1EDB;i c&aacute;c h&#x1EAD;u qu&#x1EA3; c&oacute; th&#x1EC3; ph&aacute;t sinh
                        | trong tr&#x1B0;&#x1EDD;ng h&#x1EE3;p b&#x1EA1;n vi ph&#x1EA1;m c&aacute;c quy &dstrok;&#x1ECB;nh v&#x1EC1; s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5;, ho&#x1EB7;c
                        | do vi&#x1EC7;c qu&#x1EA3;n l&yacute; l&#x1ECF;ng l&#x1EBB;o g&acirc;y ra.
                    p.text-gray-700
                        | B&#x1EA1;n ho&agrave;n to&agrave;n ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m cho vi&#x1EC7;c t&#x1EA1;o b&#x1EA3;n sao l&#x1B0;u d&#x1EF1; ph&ograve;ng
                        | v&agrave; thay th&#x1EBF; cho b&#x1EA5;t k&#x1EF3; N&#x1ED9;i dung b&#x1EA1;n &dstrok;&abreve;ng ho&#x1EB7;c l&#x1B0;u tr&#x1EEF; tr&ecirc;n Trang
                        | web v&#x1EDB;i chi ph&iacute; c&#x1EE7;a b&#x1EA1;n.
                    p.text-gray-700
                        | Behappy c&oacute; quy&#x1EC1;n, t&ugrave;y theo quy&#x1EBF;t &dstrok;&#x1ECB;nh c&#x1EE7;a m&igrave;nh, ch&#x1EA5;m d&#x1EE9;t t&agrave;i kho&#x1EA3;n
                        | c&#x1EE7;a b&#x1EA1;n v&agrave; truy c&#x1EAD;p c&#x1EE7;a b&#x1EA1;n &dstrok;&#x1EBF;n c&aacute;c Trang web, c&aacute;c &#x1EE8;ng d&#x1EE5;ng web
                        | Behappy v&agrave; D&#x1ECB;ch v&#x1EE5;; ho&#x1EB7;c b&#x1EA5;t k&#x1EF3; ph&#x1EA7;n n&agrave;o &dstrok;&#x1EC3; lo&#x1EA1;i b&#x1ECF; ho&#x1EB7;c ch&#x1EB7;n truy
                        | c&#x1EAD;p t&#x1EDB;i b&#x1EA5;t k&#x1EF3; Trang web Th&agrave;nh vi&ecirc;n; ho&#x1EB7;c n&#x1ED9;i dung b&#x1EA5;t k&#x1EF3; c&#x1EE7;a
                        | ng&#x1B0;&#x1EDD;i d&ugrave;ng &#x1EDF; b&#x1EA5;t k&#x1EF3; th&#x1EDD;i &dstrok;i&#x1EC3;m n&agrave;o. Behappy kh&ocirc;ng ch&#x1ECB;u b&#x1EA5;t k&#x1EF3; tr&aacute;ch
                        | nhi&#x1EC7;m g&igrave; v&#x1EDB;i b&#x1EA1;n khi th&#x1EF1;c hi&#x1EC7;n quy&#x1EC1;n n&agrave;y c&#x1EE7;a Behappy &dstrok;&#x1ED3;ng th&#x1EDD;i
                        | Behappy c&utilde;ng s&#x1EBD; kh&ocirc;ng c&oacute; Th&ocirc;ng b&aacute;o cho t&#x1EEB;ng tr&#x1B0;&#x1EDD;ng h&#x1EE3;p.
                    p.text-gray-700
                        | C&aacute;c Trang web ho&#x1EB7;c c&aacute;c trang web th&agrave;nh vi&ecirc;n m&agrave; Ng&#x1B0;&#x1EDD;i d&ugrave;ng t&#x1EA1;o ra
                        | c&oacute; th&#x1EC3; ch&#x1EE9;a d&#x1ECB;ch v&#x1EE5; th&ocirc;ng b&aacute;o, khu v&#x1EF1;c trao &dstrok;&#x1ED5;i th&ocirc;ng tin, nh&oacute;m
                        | tin, di&#x1EC5;n &dstrok;&agrave;n, c&#x1ED9;ng &dstrok;&#x1ED3;ng, c&aacute;c trang web c&aacute; nh&acirc;n v&agrave; th&#x1B0;&#x1A1;ng m&#x1EA1;i,
                        | l&#x1ECB;ch, b&#x1B0;u thi&#x1EBF;p, v&agrave; / ho&#x1EB7;c ph&#x1B0;&#x1A1;ng ti&#x1EC7;n nh&#x1EAF;n tin ho&#x1EB7;c c&aacute;c ph&#x1B0;&#x1A1;ng
                        | ti&#x1EC7;n th&ocirc;ng tin kh&aacute;c &dstrok;&#x1B0;&#x1EE3;c thi&#x1EBF;t k&#x1EBF; &dstrok;&#x1EC3; cho ph&eacute;p b&#x1EA1;n ho&#x1EB7;c ng&#x1B0;&#x1EDD;i kh&aacute;c
                        | c&oacute; th&#x1EC3; giao ti&#x1EBF;p v&#x1EDB;i c&ocirc;ng ch&uacute;ng ho&#x1EB7;c m&#x1ED9;t nh&oacute;m (g&#x1ECD;i chung l&agrave; &ldquo;D&#x1ECB;ch
                        | v&#x1EE5; t&#x1B0;&#x1A1;ng t&aacute;c&rdquo;), b&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; s&#x1EED; d&#x1EE5;ng c&aacute;c D&#x1ECB;ch v&#x1EE5; t&#x1B0;&#x1A1;ng t&aacute;c ch&#x1EC9; &dstrok;&#x1EC3;
                        | th&ocirc;ng b&aacute;o, g&#x1EED;i v&agrave; nh&#x1EAD;n tin nh&#x1EAF;n ph&ugrave; h&#x1EE3;p v&#x1EDB;i c&aacute;c Ch&iacute;nh s&aacute;ch N&#x1ED9;i
                        | dung, c&aacute;c &Dstrok;i&#x1EC1;u kho&#x1EA3;n v&agrave; ph&aacute;p lu&#x1EAD;t hi&#x1EC7;n h&agrave;nh.
                    p.text-gray-700
                        | Ng&#x1B0;&#x1EDD;i d&ugrave;ng ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m n&#x1ED9;i dung v&agrave; r&#x1EE7;i ro v&#x1EDB;i c&aacute;c th&ocirc;ng tin
                        | giao d&#x1ECB;ch, n&#x1ED9;i dung trao &dstrok;&#x1ED5;i v&#x1EDB;i ng&#x1B0;&#x1EDD;i d&ugrave;ng c&#x1EE7;a Trang Web th&agrave;nh
                        | vi&ecirc;n.
                    p.text-gray-700
                        | B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; r&#x1EB1;ng kh&ocirc;ng c&oacute; li&ecirc;n doanh, h&#x1EE3;p t&aacute;c, quan h&#x1EC7; m&ocirc;i gi&#x1EDB;i
                        | ho&#x1EB7;c b&#x1EA5;t k&#x1EF3; h&igrave;nh th&#x1EE9;c h&#x1EE3;p t&aacute;c n&agrave;o kh&aacute;c t&#x1ED3;n t&#x1EA1;i gi&#x1EEF;a b&#x1EA1;n v&agrave;
                        | Behappy.
                    h2.fw-bold.text-gray-700.mt-6
                        | T&agrave;i kho&#x1EA3;n ng&#x1B0;&#x1EDD;i d&ugrave;ng v&agrave; t&ecirc;n mi&#x1EC1;n ph&#x1EE5;
                    p.text-gray-700
                        | &Dstrok;&#x1EC3; s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; c&#x1EE7;a Behappy , ng&#x1B0;&#x1EDD;i d&ugrave;ng s&#x1EBD; &dstrok;&abreve;ng k&yacute; m&#x1ED9;t t&agrave;i
                        | kho&#x1EA3;n truy c&#x1EAD;p v&agrave; m&#x1EAD;t kh&#x1EA9;u. B&#x1EA1;n c&oacute; tr&aacute;ch nhi&#x1EC7;m trong vi&#x1EC7;c (1) b&#x1EA3;o
                        | m&#x1EAD;t v&#x1EC1; t&agrave;i kho&#x1EA3;n, m&#x1EAD;t kh&#x1EA9;u truy c&#x1EAD;p c&#x1EE7;a b&#x1EA1;n; v&agrave; (2) t&#x1EA5;t c&#x1EA3; c&aacute;c
                        | ho&#x1EA1;t &dstrok;&#x1ED9;ng x&#x1EA3;y ra tr&ecirc;n ho&#x1EB7;c th&ocirc;ng qua t&agrave;i kho&#x1EA3;n truy c&#x1EAD;p c&#x1EE7;a b&#x1EA1;n.
                    p.text-gray-700
                        | B&#x1EA1;n hi&#x1EC3;u v&agrave; &dstrok;&#x1ED3;ng &yacute; r&#x1EB1;ng Behappy s&#x1EBD; t&#x1EA1;o ra, ph&aacute;t h&agrave;nh, v&agrave; x&aacute;c minh
                        | m&#x1ED9;t nh&#x1EAD;n d&#x1EA1;ng k&#x1EF9; thu&#x1EAD;t s&#x1ED1; (g&#x1ECD;i chung l&agrave; &ldquo;Ch&#x1EE9;ng th&#x1B0; s&#x1ED1;&rdquo;) cho m&#x1ED7;i
                        | ng&#x1B0;&#x1EDD;i d&ugrave;ng. Ch&#x1EE9;ng th&#x1B0; s&#x1ED1; n&agrave;y &dstrok;&#x1B0;&#x1EE3;c g&#x1EAF;n v&agrave;o m&#x1ED7;i t&agrave;i li&#x1EC7;u &dstrok;i&#x1EC7;n t&#x1EED; v&agrave;
                        | th&ocirc;ng b&aacute;o b&#x1EB1;ng email &dstrok;&atilde; &dstrok;&#x1B0;&#x1EE3;c ch&#x1EA5;p nh&#x1EAD;n. B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; r&#x1EB1;ng Ch&#x1EE9;ng th&#x1B0;
                        | s&#x1ED1; c&#x1EE7;a b&#x1EA1;n l&agrave; &ldquo;Ch&#x1EEF; k&yacute; &dstrok;i&#x1EC7;n t&#x1EED;&rdquo; h&#x1EE3;p l&#x1EC7; m&agrave; n&oacute; thay th&#x1EBF; cho s&#x1EF1; &dstrok;&#x1ED3;ng &yacute;
                        | c&#x1EE7;a b&#x1EA1;n trong c&aacute;c ho&#x1EA1;t &dstrok;&#x1ED9;ng c&#x1EE7;a b&#x1EA1;n di&#x1EC5;n ra tr&ecirc;n Trang web ho&#x1EB7;c
                        | D&#x1ECB;ch v&#x1EE5; v&agrave; / ho&#x1EB7;c &#x1EE8;ng d&#x1EE5;ng web Behappy.
                    p.text-gray-700
                        | Tr&#x1B0;&#x1EDD;ng h&#x1EE3;p ph&aacute;t hi&#x1EC7;n h&agrave;nh vi s&#x1EED; d&#x1EE5;ng tr&aacute;i ph&eacute;p &dstrok;&#x1ED1;i v&#x1EDB;i m&#x1EAD;t kh&#x1EA9;u
                        | ho&#x1EB7;c t&agrave;i kho&#x1EA3;n c&#x1EE7;a b&#x1EA1;n, b&#x1EA1;n ph&#x1EA3;i th&ocirc;ng b&aacute;o cho ch&uacute;ng t&ocirc;i ngay l&#x1EAD;p
                        | t&#x1EE9;c &dstrok;&#x1EC3; thay &dstrok;&#x1ED5;i m&#x1EAD;t kh&#x1EA9;u k&#x1ECB;p th&#x1EDD;i nh&#x1EB1;m b&#x1EA3;o m&#x1EAD;t th&ocirc;ng tin. Ch&uacute;ng
                        | t&ocirc;i s&#x1EBD; xem x&eacute;t &dstrok;&oacute;ng t&agrave;i kho&#x1EA3;n c&#x1EE7;a b&#x1EA1;n b&#x1EA5;t c&#x1EE9; l&uacute;c n&agrave;o n&#x1EBF;u c&#x1EA7;n thi&#x1EBF;t
                        | v&igrave; l&yacute; do b&#x1EA3;o m&#x1EAD;t th&ocirc;ng tin. Ch&uacute;ng t&ocirc;i kh&ocirc;ng th&#x1EC3; v&agrave; s&#x1EBD; kh&ocirc;ng ch&#x1ECB;u
                        | tr&aacute;ch nhi&#x1EC7;m cho b&#x1EA5;t c&#x1EE9; s&#x1EF1; m&#x1EA5;t m&aacute;t, h&#x1B0; h&#x1ECF;ng hay tr&aacute;ch nhi&#x1EC7;m n&agrave;o
                        | kh&aacute;c n&#x1EBF;u b&#x1EA1;n kh&ocirc;ng tu&acirc;n th&#x1EE7; &dstrok;i&#x1EC1;u kho&#x1EA3;n n&agrave;y hay do s&#x1EF1; truy c&#x1EAD;p tr&aacute;i
                        | ph&eacute;p v&agrave;o t&agrave;i kho&#x1EA3;n c&#x1EE7;a b&#x1EA1;n.
                    p.text-gray-700
                        | T&ecirc;n mi&#x1EC1;n ph&#x1EE5;: L&agrave; m&#x1ED9;t ph&#x1EA7;n c&#x1EE7;a &#x1EE8;ng d&#x1EE5;ng web Behappy , ng&#x1B0;&#x1EDD;i d&ugrave;ng
                        | &dstrok;&#x1B0;&#x1EE3;c s&#x1EED; d&#x1EE5;ng mi&#x1EC5;n ph&iacute; v&#x1EDB;i m&#x1EE5;c &dstrok;&iacute;ch l&agrave; l&#x1B0;u tr&#x1EEF; c&aacute;c trang web th&agrave;nh
                        | vi&ecirc;n (v&iacute; d&#x1EE5;: [t&ecirc;n mi&#x1EC1;n ph&#x1EE5;].#) (&ldquo;T&ecirc;n mi&#x1EC1;n ph&#x1EE5;&rdquo;).
                    p.text-gray-700
                        | B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; r&#x1EB1;ng t&#x1EA5;t c&#x1EA3; c&aacute;c T&ecirc;n mi&#x1EC1;n ph&#x1EE5; c&#x1EE7;a ng&#x1B0;&#x1EDD;i d&ugrave;ng &dstrok;&#x1EC1;u thu&#x1ED9;c
                        | s&#x1EDF; h&#x1EEF;u c&#x1EE7;a Behappy , kh&ocirc;ng th&#x1EC3; chuy&#x1EC3;n nh&#x1B0;&#x1EE3;ng cho b&ecirc;n th&#x1EE9; ba v&agrave;
                        | Behappy c&oacute; th&#x1EC3; c&oacute; ho&#x1EB7;c kh&ocirc;ng c&oacute; l&yacute; do, t&ugrave;y theo quy&#x1EBF;t &dstrok;&#x1ECB;nh c&#x1EE7;a
                        | m&igrave;nh v&agrave; kh&ocirc;ng c&oacute; th&ocirc;ng b&aacute;o hay ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m v&#x1EDB;i ng&#x1B0;&#x1EDD;i d&ugrave;ng
                        | ho&#x1EB7;c b&#x1EA5;t k&#x1EF3; b&ecirc;n th&#x1EE9; ba, ngay l&#x1EAD;p t&#x1EE9;c ch&#x1EA5;m d&#x1EE9;t ho&#x1EB7;c &dstrok;&igrave;nh ch&#x1EC9; t&agrave;i
                        | kho&#x1EA3;n c&#x1EE7;a b&#x1EA1;n, T&ecirc;n &dstrok;&abreve;ng nh&#x1EAD;p v&agrave; T&ecirc;n mi&#x1EC1;n ph&#x1EE5;, v&agrave; lo&#x1EA1;i b&#x1ECF; b&#x1EA5;t k&#x1EF3;
                        | n&#x1ED9;i dung li&ecirc;n quan &dstrok;&#x1EBF;n t&agrave;i kho&#x1EA3;n v&agrave; t&ecirc;n mi&#x1EC1;n ph&#x1EE5; c&#x1EE7;a b&#x1EA1;n.
                    p.text-gray-700
                        | B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; t&iacute;ch c&#x1EF1;c duy tr&igrave; v&agrave; c&#x1EAD;p nh&#x1EAD;t b&#x1EA5;t k&#x1EF3; Trang web Th&agrave;nh
                        | vi&ecirc;n m&agrave; b&#x1EA1;n t&#x1EA1;o ra m&#x1ED9;t c&aacute;ch th&#x1B0;&#x1EDD;ng xuy&ecirc;n. Trong th&#x1EDD;i gian 12 th&aacute;ng
                        | li&ecirc;n t&#x1EE5;c ng&#x1B0;&#x1EDD;i d&ugrave;ng kh&ocirc;ng &dstrok;&abreve;ng nh&#x1EAD;p v&agrave;o D&#x1ECB;ch v&#x1EE5; ho&#x1EB7;c c&#x1EAD;p nh&#x1EAD;t
                        | Trang web Th&agrave;nh vi&ecirc;n, Behappy c&oacute; quy&#x1EC1;n lo&#x1EA1;i b&#x1ECF; ho&#x1EB7;c v&ocirc; hi&#x1EC7;u h&oacute;a
                        | vi&#x1EC7;c truy c&#x1EAD;p v&agrave;o Trang web Th&agrave;nh vi&ecirc;n &dstrok;&oacute;, v&agrave; s&#x1EBD; d&#x1EAB;n &dstrok;&#x1EBF;n h&#x1EBF;t th&#x1EDD;i
                        | h&#x1EA1;n s&#x1EED; d&#x1EE5;ng c&#x1EE7;a b&#x1EA5;t k&#x1EF3; c&aacute;c kho&#x1EA3;n t&iacute;n d&#x1EE5;ng kh&ocirc;ng s&#x1EED; d&#x1EE5;ng n&agrave;o.
                    h2.fw-bold.text-gray-700.mt-6
                        | C&aacute;c h&agrave;nh vi c&#x1EA5;m th&#x1EF1;c hi&#x1EC7;n khi s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5;
                    p.text-gray-700
                        | B&#x1EA1;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; &dstrok;&#x1EC3; t&#x1EA3;i l&ecirc;n, xu&#x1EA5;t b&#x1EA3;n, g&#x1EED;i, ph&acirc;n ph&#x1ED1;i, ph&#x1ED5; bi&#x1EBF;n
                        | t&agrave;i li&#x1EC7;u c&oacute; n&#x1ED9;i dung khi&ecirc;u d&acirc;m, ph&#x1EC9; b&aacute;ng, l&#x1EA1;m d&#x1EE5;ng, qu&#x1EA5;y r&#x1ED1;i, &dstrok;e
                        | d&#x1ECD;a ho&#x1EB7;c vi ph&#x1EA1;m c&aacute;c quy&#x1EC1;n h&#x1EE3;p ph&aacute;p (nh&#x1B0; quy&#x1EC1;n ri&ecirc;ng t&#x1B0; v&agrave; c&ocirc;ng
                        | khai) c&#x1EE7;a ng&#x1B0;&#x1EDD;i kh&aacute;c.
                    p.text-gray-700
                        | B&#x1EA1;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; &dstrok;&#x1EC3; t&#x1EA3;i l&ecirc;n, xu&#x1EA5;t b&#x1EA3;n, g&#x1EED;i, ph&acirc;n ph&#x1ED1;i, ph&#x1ED5; bi&#x1EBF;n
                        | b&#x1EA5;t k&#x1EF3; t&agrave;i li&#x1EC7;u c&oacute; m&#x1EE5;c &dstrok;&iacute;ch g&acirc;y n&ecirc;n s&#x1EF1; th&ugrave; h&#x1EAD;n &dstrok;&#x1ED1;i v&#x1EDB;i c&aacute;c nh&oacute;m
                        | d&#x1EF1;a tr&ecirc;n ch&#x1EE7;ng t&#x1ED9;c ho&#x1EB7;c ngu&#x1ED3;n g&#x1ED1;c d&acirc;n t&#x1ED9;c, t&ocirc;n gi&aacute;o, khuy&#x1EBF;t t&#x1EAD;t,
                        | gi&#x1EDB;i t&iacute;nh, tu&#x1ED5;i t&aacute;c, khuynh h&#x1B0;&#x1EDB;ng t&igrave;nh d&#x1EE5;c / gi&#x1EDB;i t&iacute;nh.
                    p.text-gray-700
                        | B&#x1EA1;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; &dstrok;&#x1EC3; t&#x1EA3;i l&ecirc;n, xu&#x1EA5;t b&#x1EA3;n, g&#x1EED;i, ph&acirc;n ph&#x1ED1;i, ph&#x1ED5; bi&#x1EBF;n
                        | b&#x1EA5;t k&#x1EF3; t&agrave;i li&#x1EC7;u t&#x1EA1;o th&agrave;nh m&#x1ED9;t m&#x1ED1;i &dstrok;e d&#x1ECD;a b&#x1EA1;o l&#x1EF1;c tr&#x1EF1;c ti&#x1EBF;p &dstrok;&#x1ED1;i v&#x1EDB;i
                        | b&#x1EA5;t k&#x1EF3; ng&#x1B0;&#x1EDD;i ho&#x1EB7;c nh&oacute;m ng&#x1B0;&#x1EDD;i n&agrave;o, &dstrok;&#x1EB7;c bi&#x1EC7;t l&agrave; tr&#x1EBB; v&#x1ECB; th&agrave;nh ni&ecirc;n.
                    p.text-gray-700
                        | B&#x1EA1;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; &dstrok;&#x1EC3; t&#x1EA3;i l&ecirc;n, xu&#x1EA5;t b&#x1EA3;n, g&#x1EED;i, ph&acirc;n ph&#x1ED1;i, ph&#x1ED5; bi&#x1EBF;n
                        | b&#x1EA5;t k&#x1EF3; t&agrave;i li&#x1EC7;u m&#x1EA1;o danh ho&#x1EB7;c c&oacute; &yacute; &dstrok;&#x1ECB;nh m&#x1EA1;o danh ng&#x1B0;&#x1EDD;i kh&aacute;c m&agrave;
                        | ch&uacute;ng c&oacute; th&#x1EC3; &dstrok;&#x1B0;&#x1EE3;c d&ugrave;ng &dstrok;&#x1EC3; &dstrok;&aacute;nh l&#x1EEB;a ho&#x1EB7;c g&acirc;y nh&#x1EA7;m l&#x1EAB;n cho ng&#x1B0;&#x1EDD;i
                        | kh&aacute;c.
                    p.text-gray-700
                        | B&#x1EA1;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; &dstrok;&#x1EC3; t&#x1EA3;i l&ecirc;n, xu&#x1EA5;t b&#x1EA3;n, g&#x1EED;i, ph&acirc;n ph&#x1ED1;i, ph&#x1ED5; bi&#x1EBF;n
                        | c&aacute;c t&#x1EAD;p tin b&#x1EA5;t k&#x1EF3; c&#x1EE7;a b&ecirc;n th&#x1EE9; ba ho&#x1EB7;c t&agrave;i li&#x1EC7;u, d&#x1B0;&#x1EDB;i b&#x1EA5;t k&#x1EF3; h&igrave;nh
                        | th&#x1EE9;c n&agrave;o, &dstrok;&#x1B0;&#x1EE3;c b&#x1EA3;o v&#x1EC7; b&#x1EDF;i lu&#x1EAD;t s&#x1EDF; h&#x1EEF;u tr&iacute; tu&#x1EC7; (ho&#x1EB7;c b&#x1EDF;i quy&#x1EC1;n
                        | ri&ecirc;ng t&#x1B0; v&agrave; / ho&#x1EB7;c c&ocirc;ng khai) tr&#x1EEB; khi b&#x1EA1;n s&#x1EDF; h&#x1EEF;u ho&#x1EB7;c &dstrok;&#x1B0;&#x1EE3;c c&#x1EA5;p
                        | ph&eacute;p s&#x1EED; d&#x1EE5;ng c&aacute;c quy&#x1EC1;n &dstrok;&oacute;. B&#x1EA1;n kh&ocirc;ng &dstrok;&#x1B0;&#x1EE3;c ti&#x1EBF;t l&#x1ED9; th&ocirc;ng tin ri&ecirc;ng
                        | t&#x1B0; c&#x1EE7;a c&aacute;c c&aacute; nh&acirc;n, &dstrok;&#x1A1;n v&#x1ECB; kh&aacute;c m&agrave; kh&ocirc;ng &dstrok;&#x1B0;&#x1EE3;c ph&eacute;p c&#x1EE7;a c&aacute;c b&ecirc;n
                        | li&ecirc;n quan.
                    p.text-gray-700
                        | B&#x1EA1;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; c&oacute; ch&#x1EE9;a n&#x1ED9;i dung c&#x1ED1; &yacute; vi ph&#x1EA1;m quy&#x1EC1;n s&#x1EDF; h&#x1EEF;u tr&iacute;
                        | tu&#x1EC7; c&#x1EE7;a b&ecirc;n th&#x1EE9; ba tr&ecirc;n b&#x1EA5;t k&#x1EF3; Trang web Th&agrave;nh vi&ecirc;n.
                    p.text-gray-700
                        | B&#x1EA1;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; &dstrok;&#x1EC3; t&#x1EA3;i l&ecirc;n, xu&#x1EA5;t b&#x1EA3;n, g&#x1EED;i, ph&acirc;n ph&#x1ED1;i, ph&#x1ED5; bi&#x1EBF;n
                        | b&#x1EA5;t k&#x1EF3; t&#x1EAD;p tin c&oacute; ch&#x1EE9;a virus, ph&#x1EA7;n m&#x1EC1;m &dstrok;&#x1ED9;c h&#x1EA1;i, m&atilde; &dstrok;&#x1ED9;c h&#x1EA1;i, t&#x1EAD;p
                        | tin l&#x1ED7;i, ho&#x1EB7;c b&#x1EA5;t k&#x1EF3; ph&#x1EA7;n m&#x1EC1;m ho&#x1EB7;c c&aacute;c ch&#x1B0;&#x1A1;ng tr&igrave;nh t&#x1B0;&#x1A1;ng t&#x1EF1; kh&aacute;c
                        | c&oacute; th&#x1EC3; g&acirc;y h&#x1EA1;i cho ho&#x1EA1;t &dstrok;&#x1ED9;ng c&#x1EE7;a m&aacute;y t&iacute;nh kh&aacute;c.
                    p.text-gray-700
                        | B&#x1EA1;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; cho vi&#x1EC7;c truy&#x1EC1;n t&#x1EA3;i c&#x1EE7;a th&#x1B0; r&aacute;c v&agrave; / ho&#x1EB7;c b&#x1EA5;t
                        | k&#x1EF3; lo&#x1EA1;i h&igrave;nh ti&#x1EBF;p th&#x1ECB; lan truy&#x1EC1;n, lo&#x1EA1;i h&igrave;nh &dstrok;a c&#x1EA5;p v&agrave; / ho&#x1EB7;c &acirc;m
                        | m&#x1B0;u l&#x1EEB;a &dstrok;&#x1EA3;o.
                    p.text-gray-700
                        | B&#x1EA1;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; &dstrok;&#x1EC3; t&#x1EA3;i v&#x1EC1;, t&#x1EA3;i l&ecirc;n, xu&#x1EA5;t b&#x1EA3;n, g&#x1EED;i, ph&acirc;n ph&#x1ED1;i,
                        | ph&#x1ED5; bi&#x1EBF;n b&#x1EA5;t k&#x1EF3; t&#x1EAD;p tin n&agrave;o &dstrok;&#x1B0;&#x1EE3;c &dstrok;&abreve;ng b&#x1EDF;i ng&#x1B0;&#x1EDD;i s&#x1EED; d&#x1EE5;ng kh&aacute;c c&#x1EE7;a
                        | &#x1EE8;ng d&#x1EE5;ng web Behappy v&agrave; D&#x1ECB;ch v&#x1EE5; Th&ocirc;ng tin kh&aacute;c m&agrave; b&#x1EA1;n bi&#x1EBF;t ho&#x1EB7;c
                        | &dstrok;&aacute;ng l&#x1EBD; ph&#x1EA3;i bi&#x1EBF;t.
                    p.text-gray-700
                        | B&#x1EA1;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; &dstrok;&#x1EC3; thu th&#x1EAD;p th&ocirc;ng tin v&#x1EC1; nh&#x1EEF;ng ng&#x1B0;&#x1EDD;i kh&aacute;c, bao
                        | g&#x1ED3;m c&#x1EA3; e-mail, &dstrok;&#x1ECB;a ch&#x1EC9;, m&agrave; kh&ocirc;ng c&oacute; s&#x1EF1; &dstrok;&#x1ED3;ng &yacute; c&#x1EE7;a h&#x1ECD;.
                    p.text-gray-700
                        | B&#x1EA1;n t&#x1EA3;i l&ecirc;n, xu&#x1EA5;t b&#x1EA3;n, g&#x1EED;i, ph&acirc;n ph&#x1ED1;i, ph&#x1ED5; bi&#x1EBF;n b&#x1EA5;t k&#x1EF3; th&ocirc;ng tin
                        | tr&aacute;i ph&eacute;p mang t&iacute;nh ri&ecirc;ng t&#x1B0;, b&iacute; m&#x1EAD;t v&agrave; c&aacute; nh&acirc;n v&#x1EC1; nh&#x1EEF;ng ng&#x1B0;&#x1EDD;i
                        | kh&aacute;c.
                    p.text-gray-700
                        | B&#x1EA1;n t&#x1EA3;i l&ecirc;n, xu&#x1EA5;t b&#x1EA3;n, g&#x1EED;i, ph&acirc;n ph&#x1ED1;i, ph&#x1ED5; bi&#x1EBF;n b&#x1EA5;t k&#x1EF3; t&agrave;i li&#x1EC7;u
                        | &dstrok;&#x1B0;&#x1EE3;c s&#x1EED; d&#x1EE5;ng cho c&aacute;c m&#x1EE5;c &dstrok;&iacute;ch tr&aacute;i ph&aacute;p lu&#x1EAD;t ho&#x1EB7;c &dstrok;&#x1EC3; &dstrok;&#x1EC1; x&#x1B0;&#x1EDB;ng c&aacute;c
                        | ho&#x1EA1;t &dstrok;&#x1ED9;ng nguy hi&#x1EC3;m v&agrave; b&#x1EA5;t h&#x1EE3;p ph&aacute;p.
                    p.text-gray-700
                        | B&#x1EA1;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; &dstrok;&#x1EC3; t&#x1EA3;i l&ecirc;n c&aacute;c t&agrave;i li&#x1EC7;u, t&#x1EAD;p tin m&agrave; Behappy
                        | ph&#x1EE5;c v&#x1EE5; cho n&#x1ED9;i dung c&#x1EE7;a website c&#x1EE7;a b&#x1EA1;n &dstrok;&#x1B0;&#x1EE3;c t&#x1EA1;o ra t&#x1EEB; &#x1EE8;ng d&#x1EE5;ng
                        | web Behappy.
                    p.text-gray-700
                        | B&#x1EA1;n c&oacute; h&agrave;nh &dstrok;&#x1ED9;ng gian l&#x1EAD;n ho&#x1EB7;c b&#x1EA5;t k&#x1EF3; h&agrave;nh vi n&agrave;o quy &dstrok;&#x1ECB;nh t&#x1EA1;i
                        | &Dstrok;i&#x1EC1;u 4 Th&#x1ECF;a thu&#x1EAD;n n&agrave;y tr&ecirc;n c&aacute;c trang web li&ecirc;n k&#x1EBF;t c&#x1EE7;a Behappy ho&#x1EB7;c
                        | c&#x1EE7;a m&#x1ED9;t b&ecirc;n th&#x1EE9; ba b&#x1EA5;t k&#x1EF3; m&agrave; Behappy c&oacute; h&#x1EE3;p t&aacute;c &dstrok;&#x1EC3; h&#x1ED7; tr&#x1EE3; th&#x1EF1;c
                        | hi&#x1EC7;n d&#x1ECB;ch v&#x1EE5; c&#x1EE7;a Behappy.
                    h2.fw-bold.text-gray-700.mt-6
                        | Quy&#x1EC1;n v&agrave; ngh&itilde;a v&#x1EE5; c&#x1EE7;a Behappy
                    p.text-gray-700
                        | Behappy c&oacute; quy&#x1EC1;n y&ecirc;u c&#x1EA7;u ng&#x1B0;&#x1EDD;i d&ugrave;ng lo&#x1EA1;i b&#x1ECF; c&aacute;c th&ocirc;ng tin vi ph&#x1EA1;m
                        | quy &dstrok;&#x1ECB;nh t&#x1EA1;i &Dstrok;i&#x1EC1;u 4 khi ph&aacute;t hi&#x1EC7;n c&aacute;c th&ocirc;ng tin n&agrave;y.
                    p.text-gray-700
                        | C&oacute; quy&#x1EC1;n ch&#x1EA5;m d&#x1EE9;t ngay l&#x1EAD;p t&#x1EE9;c ho&#x1EB7;c &dstrok;&igrave;nh ch&#x1EC9; t&agrave;i kho&#x1EA3;n c&#x1EE7;a b&#x1EA1;n,
                        | v&agrave;/ ho&#x1EB7;c x&oacute;a c&aacute;c n&#x1ED9;i dung c&#x1EE7;a b&#x1EA1;n v&agrave; / ho&#x1EB7;c b&#x1EA1;n b&aacute;o c&aacute;o cho c&aacute;c c&#x1A1;
                        | quan c&oacute; th&#x1EA9;m quy&#x1EC1;n m&agrave; Behappy c&oacute; ho&#x1EB7;c kh&ocirc;ng th&ocirc;ng b&aacute;o cho b&#x1EA1;n khi
                        | b&#x1EA1;n vi ph&#x1EA1;m b&#x1EA5;t k&#x1EF3; ph&#x1EA7;n n&agrave;o c&#x1EE7;a Th&#x1ECF;a thu&#x1EAD;n n&agrave;y.
                    p.text-gray-700
                        | Behappy kh&ocirc;ng c&oacute; ngh&itilde;a v&#x1EE5; ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m r&agrave; so&aacute;t cho b&#x1EA5;t k&#x1EF3; n&#x1ED9;i
                        | dung n&agrave;o &dstrok;&#x1B0;&#x1EE3;c &dstrok;&abreve;ng t&#x1EA3;i, l&#x1B0;u tr&#x1EEF; ho&#x1EB7;c t&#x1EA3;i l&ecirc;n c&#x1EE7;a B&#x1EA1;n hay b&ecirc;n th&#x1EE9;
                        | ba kh&aacute;c.
                    p.text-gray-700
                        | Behappy kh&ocirc;ng ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m b&#x1EA3;o &dstrok;&#x1EA3;m v&#x1EC1; n&#x1ED9;i dung tr&ecirc;n trang web
                        | th&agrave;nh vi&ecirc;n v&#x1EDB;i b&#x1EA5;t k&#x1EF3; ng&#x1B0;&#x1EDD;i d&ugrave;ng n&agrave;o ho&#x1EB7;c c&aacute;c th&#x1ECF;a thu&#x1EAD;n, giao
                        | d&#x1ECB;ch &dstrok;&#x1B0;&#x1EE3;c th&#x1EF1;c hi&#x1EC7;n tr&ecirc;n trang web th&agrave;nh vi&ecirc;n ho&#x1EB7;c li&ecirc;n quan gi&#x1EEF;a
                        | c&aacute;c ng&#x1B0;&#x1EDD;i d&ugrave;ng c&#x1EE7;a Behappy.
                    p.text-gray-700
                        | Behappy c&oacute; quy&#x1EC1;n lo&#x1EA1;i b&#x1ECF;, theo d&otilde;i ho&#x1EB7;c ch&#x1EC9;nh s&#x1EED;a b&#x1EA5;t k&#x1EF3; n&#x1ED9;i dung
                        | n&agrave;o &dstrok;&#x1B0;&#x1EE3;c &dstrok;&abreve;ng t&#x1EA3;i ho&#x1EB7;c &dstrok;&#x1B0;&#x1EE3;c l&#x1B0;u tr&#x1EEF; tr&ecirc;n Trang web th&agrave;nh vi&ecirc;n, &#x1EE8;ng
                        | d&#x1EE5;ng Web c&#x1EE7;a Behappy v&agrave;o b&#x1EA5;t k&#x1EF3; l&uacute;c n&agrave;o v&agrave; b&#x1EA5;t k&#x1EF3; l&yacute; do n&agrave;o m&agrave;
                        | kh&ocirc;ng c&#x1EA7;n th&ocirc;ng b&aacute;o cho b&#x1EA1;n.
                    p.text-gray-700
                        | Behappy c&oacute; quy&#x1EC1;n ch&#x1EA5;m d&#x1EE9;t s&#x1EF1; truy c&#x1EAD;p c&#x1EE7;a b&#x1EA1;n &dstrok;&#x1EBF;n c&aacute;c Trang web,
                        | Trang web Th&agrave;nh vi&ecirc;n v&agrave; b&#x1EA5;t k&#x1EF3; ho&#x1EB7;c t&#x1EA5;t c&#x1EA3; c&aacute;c D&#x1ECB;ch v&#x1EE5; T&#x1B0;&#x1A1;ng t&aacute;c;
                        | lo&#x1EA1;i b&#x1ECF; ho&#x1EB7;c v&ocirc; hi&#x1EC7;u h&oacute;a truy c&#x1EAD;p v&agrave;o b&#x1EA5;t k&#x1EF3; Trang web Th&agrave;nh vi&ecirc;n
                        | ho&#x1EB7;c c&aacute;c n&#x1ED9;i dung c&#x1EE7;a b&#x1EA1;n v&agrave;o b&#x1EA5;t k&#x1EF3; l&uacute;c n&agrave;o m&agrave; kh&ocirc;ng c&#x1EA7;n th&ocirc;ng
                        | b&aacute;o v&igrave; b&#x1EA5;t k&#x1EF3; l&yacute; do g&igrave; ho&#x1EB7;c cho kh&ocirc;ng c&oacute; l&yacute; do.
                    p.text-gray-700
                        | Behappy cam k&#x1EBF;t gi&#x1EEF; b&iacute; m&#x1EAD;t th&ocirc;ng tin m&agrave; b&#x1EA1;n cung c&#x1EA5;p cho ch&uacute;ng t&ocirc;i
                        | ho&#x1EB7;c ch&uacute;ng t&ocirc;i thu th&#x1EAD;p &dstrok;&#x1B0;&#x1EE3;c v&agrave; kh&ocirc;ng ti&#x1EBF;t l&#x1ED9; v&#x1EDB;i b&#x1EA5;t k&#x1EF3; b&ecirc;n th&#x1EE9;
                        | ba n&agrave;o tr&#x1EEB; khi c&oacute; y&ecirc;u c&#x1EA7;u t&#x1EEB; C&#x1A1; quan Nh&agrave; n&#x1B0;&#x1EDB;c c&oacute; th&#x1EA9;m quy&#x1EC1;n ho&#x1EB7;c
                        | l&agrave; c&#x1EA7;n thi&#x1EBF;t &dstrok;&#x1EC3; (a) thi h&agrave;nh c&aacute;c &Dstrok;i&#x1EC1;u kho&#x1EA3;n c&#x1EE7;a Th&#x1ECF;a Thu&#x1EAD;n n&agrave;y,
                        | (b) ph&aacute;t hi&#x1EC7;n, ng&abreve;n ch&#x1EB7;n gian l&#x1EAD;n, b&#x1EA3;o m&#x1EAD;t, ho&#x1EB7;c c&aacute;c v&#x1EA5;n &dstrok;&#x1EC1; k&#x1EF9;
                        | thu&#x1EAD;t, (c) tr&#x1EA3; l&#x1EDD;i c&aacute;c y&ecirc;u c&#x1EA7;u h&#x1ED7; tr&#x1EE3; ng&#x1B0;&#x1EDD;i d&ugrave;ng ho&#x1EB7;c (d) b&#x1EA3;o v&#x1EC7;
                        | quy&#x1EC1;n, t&agrave;i s&#x1EA3;n ho&#x1EB7;c s&#x1EF1; an to&agrave;n c&#x1EE7;a Behappy , ng&#x1B0;&#x1EDD;i s&#x1EED; d&#x1EE5;ng v&agrave; c&ocirc;ng
                        | ch&uacute;ng.
                    p.text-gray-700
                        | Behappy kh&ocirc;ng ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m d&#x1B0;&#x1EDB;i b&#x1EA5;t k&#x1EF3; h&igrave;nh th&#x1EE9;c n&agrave;o &dstrok;&#x1ED1;i v&#x1EDB;i
                        | c&aacute;c th&ocirc;ng tin m&agrave; b&#x1EA1;n cung c&#x1EA5;p cho b&ecirc;n th&#x1EE9; ba khi k&#x1EBF;t n&#x1ED1;i v&#x1EDB;i Trang
                        | web Th&agrave;nh vi&ecirc;n ho&#x1EB7;c c&aacute;c b&ecirc;n th&#x1EE9; ba &dstrok;i&#x1EC1;u h&agrave;nh Trang web Th&agrave;nh vi&ecirc;n,
                        | h&#x1ECD; c&oacute; th&#x1EC3; s&#x1EED; d&#x1EE5;ng th&ocirc;ng tin c&aacute; nh&acirc;n m&agrave; b&#x1EA1;n cung c&#x1EA5;p cho h&#x1ECD;.
                    p.text-gray-700
                        | Behappy kh&ocirc;ng ki&#x1EC3;m so&aacute;t hay ch&#x1EE9;ng th&#x1EF1;c n&#x1ED9;i dung, c&aacute;c th&ocirc;ng &dstrok;i&#x1EC7;p
                        | ho&#x1EB7;c th&ocirc;ng tin &dstrok;&#x1B0;&#x1EE3;c t&igrave;m th&#x1EA5;y &#x1EDF; b&#x1EA5;t k&#x1EF3; D&#x1ECB;ch v&#x1EE5; t&#x1B0;&#x1A1;ng t&aacute;c ho&#x1EB7;c Trang
                        | web Th&agrave;nh vi&ecirc;n n&agrave;o. Behappy kh&ocirc;ng c&oacute; tr&aacute;ch nhi&#x1EC7;m ph&aacute;p l&yacute; n&agrave;o &dstrok;&#x1ED1;i
                        | v&#x1EDB;i c&aacute;c D&#x1ECB;ch v&#x1EE5; T&#x1B0;&#x1A1;ng t&aacute;c v&agrave; b&#x1EA5;t k&#x1EF3; h&agrave;nh &dstrok;&#x1ED9;ng n&agrave;o g&acirc;y n&ecirc;n h&#x1EC7; qu&#x1EA3;
                        | t&#x1EEB; s&#x1EF1; tham gia c&#x1EE7;a b&#x1EA1;n trong b&#x1EA5;t k&#x1EF3; D&#x1ECB;ch v&#x1EE5; T&#x1B0;&#x1A1;ng t&aacute;c ho&#x1EB7;c vi&#x1EC7;c s&#x1EED;
                        | d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; tr&ecirc;n Trang web Th&agrave;nh vi&ecirc;n kh&aacute;c.
                    p.text-gray-700
                        | Behappy c&oacute; ngh&itilde;a v&#x1EE5; b&#x1EA3;o h&agrave;nh k&#x1EF9; thu&#x1EAD;t cho b&#x1EA1;n trong su&#x1ED1;t th&#x1EDD;i gian
                        | s&#x1EED; d&#x1EE5;ng. Behappy kh&ocirc;ng b&#x1EA3;o &dstrok;&#x1EA3;m r&#x1EB1;ng Trang web, D&#x1ECB;ch v&#x1EE5;, &#x1EE8;ng d&#x1EE5;ng
                        | web Behappy ho&#x1EB7;c nh&#x1EEF;ng Trang web Th&agrave;nh vi&ecirc;n s&#x1EBD; &dstrok;&aacute;p &#x1EE9;ng y&ecirc;u c&#x1EA7;u c&#x1EE7;a
                        | b&#x1EA1;n ho&#x1EB7;c c&aacute;c ho&#x1EA1;t &dstrok;&#x1ED9;ng c&#x1EE7;a ch&uacute;ng s&#x1EBD; kh&ocirc;ng b&#x1ECB; gi&aacute;n &dstrok;o&#x1EA1;n ho&#x1EB7;c kh&ocirc;ng
                        | bao gi&#x1EDD; l&#x1ED7;i.
                    h2.fw-bold.text-gray-700.mt-6
                        | Li&ecirc;n k&#x1EBF; &dstrok;&#x1EBF;n trang web c&#x1EE7;a b&ecirc;n th&#x1EE9; ba
                    p.text-gray-700
                        | Trang web, &#x1EE8;ng d&#x1EE5;ng web Behappy v&agrave; Trang web th&agrave;nh vi&ecirc;n (K&#x1EC3; c&#x1EA3;
                        | d&#x1B0;&#x1EDB;i T&ecirc;n mi&#x1EC1;n ph&#x1EE5; Behappy ) c&oacute; th&#x1EC3; ch&#x1EE9;a li&ecirc;n k&#x1EBF;t &dstrok;&#x1EBF;n c&aacute;c trang web
                        | c&#x1EE7;a b&ecirc;n th&#x1EE9; ba, bao g&#x1ED3;m c&#x1EA3; li&ecirc;n k&#x1EBF;t t&#x1EDB;i Trang web th&agrave;nh vi&ecirc;n, v&abreve;n
                        | b&#x1EA3;n; &dstrok;o&#x1EA1;n video &dstrok;&#x1B0;&#x1EE3;c nh&uacute;ng v&agrave;o; m&#x1EAB;u ch&agrave;o h&agrave;ng; v&agrave; c&aacute;c &#x1EE9;ng d&#x1EE5;ng
                        | ph&#x1EA7;n m&#x1EC1;m (Bao g&#x1ED3;m c&#x1EA3; c&aacute;c ti&#x1EC7;n &iacute;ch h&#x1ED7; tr&#x1EE3; v&#x1EC1; th&#x1EDD;i ti&#x1EBF;t; t&#x1EF7; gi&aacute;; tr&ograve;
                        | chuy&#x1EC7;n) (G&#x1ECD;i chung l&agrave; &ldquo;Trang Li&ecirc;n K&#x1EBF;t&rdquo;).
                    p.text-gray-700
                        | Nh&#x1EEF;ng Trang Li&ecirc;n K&#x1EBF;t &dstrok;&#x1EC1;u l&agrave; t&agrave;i s&#x1EA3;n c&#x1EE7;a b&ecirc;n th&#x1EE9; ba t&#x1B0;&#x1A1;ng &#x1EE9;ng v&agrave; c&oacute;
                        | th&#x1EC3; &dstrok;&#x1B0;&#x1EE3;c b&#x1EA3;o v&#x1EC7; b&#x1EDF;i / ho&#x1EB7;c ph&aacute;p lu&#x1EAD;t s&#x1EDF; h&#x1EEF;u tr&iacute; tu&#x1EC7; v&agrave; c&aacute;c &dstrok;i&#x1EC1;u
                        | &#x1B0;&#x1EDB;c qu&#x1ED1;c t&#x1EBF;. N&#x1ED9;i dung Trang Li&ecirc;n K&#x1EBF;t v&agrave; th&ocirc;ng tin c&aacute;c b&ecirc;n th&#x1EE9; ba
                        | n&agrave;y ngo&agrave;i t&#x1EA7;m ki&#x1EC3;m so&aacute;t v&agrave; / ho&#x1EB7;c kh&ocirc;ng thu&#x1ED9;c s&#x1EDF; h&#x1EEF;u v&agrave; qu&#x1EA3;n l&yacute;
                        | c&#x1EE7;a Behappy. Behappy kh&ocirc;ng ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m ph&aacute;p l&yacute; cho b&#x1EA5;t k&#x1EF3; n&#x1ED9;i
                        | dung n&agrave;o c&#x1EE7;a Trang Li&ecirc;n K&#x1EBF;t, k&#x1EC3; c&#x1EA3; r&#x1EE7;i ro, thi&#x1EC7;t h&#x1EA1;i kinh t&#x1EBF;, th&#x1EA5;t
                        | tho&aacute;t th&ocirc;ng tin d&#x1EEF; li&#x1EC7;u c&oacute; th&#x1EC3; ph&aacute;t sinh do vi&#x1EC7;c truy c&#x1EAD;p Trang
                        | Li&ecirc;n K&#x1EBF;t.
                    p.text-gray-700
                        | &#x1EE8;ng d&#x1EE5;ng web Behappy c&oacute; th&#x1EC3; d&#x1EF1;a v&agrave;o b&ecirc;n th&#x1EE9; ba &dstrok;&#x1EC3; cung c&#x1EA5;p, ho&agrave;n
                        | thi&#x1EC7;n m&#x1ED9;t s&#x1ED1; ch&#x1EE9;c n&abreve;ng, &#x1EE9;ng d&#x1EE5;ng ph&#x1EA7;n m&#x1EC1;m. Vi&#x1EC7;c l&#x1EF1;a ch&#x1ECD;n s&#x1EED; d&#x1EE5;ng
                        | nh&#x1EEF;ng ch&#x1EE9;c n&abreve;ng, &#x1EE9;ng d&#x1EE5;ng ph&#x1EA7;n m&#x1EC1;m t&#x1EEB; nh&agrave; cung c&#x1EA5;p th&#x1EE9; ba c&oacute; th&#x1EC3;
                        | t&#x1EA1;o n&ecirc;n s&#x1EF1; thay &dstrok;&#x1ED5;i v&#x1EC1; m&#x1EB7;t c&#x1EA5;u tr&uacute;c ho&#x1EB7;c giao di&#x1EC7;n c&#x1EE7;a trang web.
                        | Ng&#x1B0;&#x1EDD;i d&ugrave;ng l&#x1EF1;a ch&#x1ECD;n s&#x1EED; d&#x1EE5;ng v&agrave; ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m cho nh&#x1EEF;ng l&#x1EF1;a ch&#x1ECD;n
                        | &dstrok;&oacute;, &dstrok;&#x1ED3;ng th&#x1EDD;i ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m v&#x1EC1; th&#x1EE7; t&#x1EE5;c li&ecirc;n quan &dstrok;&#x1ED1;i v&#x1EDB;i c&aacute;c
                        | nh&agrave; cung c&#x1EA5;p th&#x1EE9; ba.
                    h2.fw-bold.text-gray-700.mt-6 Ch&iacute;nh s&aacute;ch n&#x1ED9;i dung
                    p.text-gray-700
                        | Trang web v&agrave; D&#x1ECB;ch v&#x1EE5; c&#x1EE7;a Behappy l&agrave; &dstrok;&#x1EC3; cung c&#x1EA5;p cho c&aacute;c doanh
                        | nghi&#x1EC7;p, t&#x1ED5; ch&#x1EE9;c v&agrave; c&aacute; nh&acirc;n &dstrok;&#x1EC3; t&#x1EA1;o ra v&agrave; ph&aacute;t tri&#x1EC3;n m&#x1ED9;t s&#x1EF1; hi&#x1EC7;n
                        | di&#x1EC7;n tr&#x1EF1;c tuy&#x1EBF;n chuy&ecirc;n nghi&#x1EC7;p. Behappy t&ocirc;n tr&#x1ECD;ng c&aacute;c quy&#x1EC1;n c&#x1EE7;a b&#x1EA1;n
                        | v&agrave; kh&ocirc;ng mu&#x1ED1;n ki&#x1EC3;m duy&#x1EC7;t b&#x1EA5;t k&#x1EF3; v&abreve;n b&#x1EA3;n, h&igrave;nh &#x1EA3;nh, d&#x1EEF; li&#x1EC7;u, th&ocirc;ng
                        | tin, video &acirc;m nh&#x1EA1;c, &dstrok;&#x1ED3; h&#x1ECD;a, tin nh&#x1EAF;n ho&#x1EB7;c c&aacute;c m&#x1EE5;c ho&#x1EB7;c c&aacute;c d&#x1EEF; li&#x1EC7;u
                        | kh&aacute;c (G&#x1ECD;i chung l&agrave; &ldquo;N&#x1ED9;i dung&rdquo;) m&agrave; ch&uacute;ng &dstrok;&#x1B0;&#x1EE3;c ch&#x1EE9;a trong nh&#x1EEF;ng g&igrave;
                        | m&agrave; b&#x1EA1;n &dstrok;&abreve;ng t&#x1EA3;i tr&ecirc;n Trang web ho&#x1EB7;c trong b&#x1EA5;t k&#x1EF3; Trang web Th&agrave;nh
                        | vi&ecirc;n. Tuy nhi&ecirc;n &dstrok;&#x1EC3; cho ph&eacute;p ti&#x1EBF;p t&#x1EE5;c &dstrok;&abreve;ng t&#x1EA3;i c&aacute;c n&#x1ED9;i dung,
                        | Behappy &dstrok;&atilde; thi&#x1EBF;t l&#x1EAD;p c&aacute;c quy t&#x1EAF;c v&#x1EC1; m&#x1ED9;t s&#x1ED1; lo&#x1EA1;i n&#x1ED9;i dung nh&#x1EA5;t &dstrok;&#x1ECB;nh
                        | kh&ocirc;ng &dstrok;&#x1B0;&#x1EE3;c l&#x1B0;u tr&#x1EEF; b&#x1EDF;i Behappy v&agrave; / ho&#x1EB7;c t&#x1EA1;o ra b&#x1EB1;ng c&aacute;ch s&#x1EED; d&#x1EE5;ng
                        | &#x1EE8;ng d&#x1EE5;ng web Behappy &dstrok;&#x1B0;&#x1EE3;c quy &dstrok;&#x1ECB;nh trong ch&iacute;nh s&aacute;ch n&agrave;y (&ldquo;Ch&iacute;nh
                        | s&aacute;ch N&#x1ED9;i dung&rdquo;). Nh&#x1EEF;ng quy &dstrok;&#x1ECB;nh n&agrave;y kh&ocirc;ng t&#x1EA1;o ra b&#x1EA5;t k&#x1EF3; quy&#x1EC1;n c&#x1EE7;a
                        | b&ecirc;n th&#x1EE9; ba n&agrave;o, nh&#x1B0;ng c&oacute; th&#x1EC3; ch&#x1EC9; &dstrok;&#x1B0;&#x1EE3;c thi h&agrave;nh b&#x1EDF;i Behappy.
                    h2.fw-bold.text-gray-700.mt-6
                        | S&#x1EED; d&#x1EE5;ng v&agrave; l&#x1B0;u tr&#x1EEF; d&#x1EEF; li&#x1EC7;u
                    p.text-gray-700
                        | Nh&#x1EEF;ng g&igrave; &dstrok;&#x1B0;&#x1EE3;c &dstrok;&abreve;ng t&#x1EA3;i l&ecirc;n D&#x1ECB;ch v&#x1EE5; T&#x1B0;&#x1A1;ng t&aacute;c c&oacute; th&#x1EC3; b&#x1ECB; gi&#x1EDB;i h&#x1EA1;n
                        | sao ch&eacute;p, s&#x1EED; d&#x1EE5;ng v&agrave; / ho&#x1EB7;c ph&#x1ED5; bi&#x1EBF;n. Behappy gi&#x1EEF; l&#x1EA1;i quy&#x1EC1;n &dstrok;&#x1EC3; t&#x1EA1;o
                        | ra v&agrave; / ho&#x1EB7;c thay &dstrok;&#x1ED5;i nh&#x1EEF;ng gi&#x1EDB;i h&#x1EA1;n v&#x1EC1; s&#x1EED; d&#x1EE5;ng v&agrave; l&#x1B0;u tr&#x1EEF; b&#x1EA5;t k&#x1EF3;
                        | l&uacute;c n&agrave;o c&oacute; ho&#x1EB7;c kh&ocirc;ng c&oacute; th&ocirc;ng b&aacute;o. B&#x1EA1;n c&oacute; tr&aacute;ch nhi&#x1EC7;m t&ocirc;n tr&#x1ECD;ng
                        | nh&#x1EEF;ng gi&#x1EDB;i h&#x1EA1;n &dstrok;&oacute;.
                    p.text-gray-700
                        | B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; r&#x1EB1;ng Behappy kh&ocirc;ng c&oacute; tr&aacute;ch nhi&#x1EC7;m &dstrok;&#x1ED1;i v&#x1EDB;i vi&#x1EC7;c m&#x1EA5;t m&aacute;t
                        | d&#x1EEF; li&#x1EC7;u ho&#x1EB7;c s&#x1EF1; th&#x1EA5;t b&#x1EA1;i khi l&#x1B0;u tr&#x1EEF; N&#x1ED9;i dung ho&#x1EB7;c truy&#x1EC1;n t&#x1EA3;i b&#x1EA5;t
                        | k&#x1EF3; N&#x1ED9;i dung ho&#x1EB7;c D&#x1ECB;ch v&#x1EE5; T&#x1B0;&#x1A1;ng t&aacute;c n&agrave;o &dstrok;&#x1B0;&#x1EE3;c duy tr&igrave; b&#x1EDF;i Behappy v&agrave;
                        | b&#x1EA1;n ho&agrave;n to&agrave;n ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m cho vi&#x1EC7;c t&#x1EA1;o b&#x1EA3;n sao l&#x1B0;u d&#x1EF1; ph&ograve;ng
                        | v&agrave; thay th&#x1EBF; b&#x1EA5;t k&#x1EF3; N&#x1ED9;i dung n&agrave;o m&agrave; b&#x1EA1;n &dstrok;&abreve;ng t&#x1EA3;i ho&#x1EB7;c l&#x1B0;u tr&#x1EEF; tr&ecirc;n
                        | Trang web v&#x1EDB;i chi ph&iacute; l&agrave; c&#x1EE7;a b&#x1EA1;n.
                    p.text-gray-700
                        | Behappy b&#x1EA3;o h&agrave;nh k&#x1EF9; thu&#x1EAD;t cho b&#x1EA1;n trong su&#x1ED1;t th&#x1EDD;i gian s&#x1EED; d&#x1EE5;ng.
                        | B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; r&#x1EB1;ng tr&#x1B0;&#x1EDB;c khi g&#x1EED;i y&ecirc;u c&#x1EA7;u h&#x1ED7; tr&#x1EE3; v&#x1EC1; k&#x1EF9; thu&#x1EAD;t ho&#x1EB7;c
                        | ch&#x1EC9;nh s&#x1EED;a website, b&#x1EA1;n ph&#x1EA3;i sao l&#x1B0;u t&#x1EA5;t c&#x1EA3; d&#x1EEF; li&#x1EC7;u t&#x1EA1;i th&#x1EDD;i &dstrok;i&#x1EC3;m
                        | y&ecirc;u c&#x1EA7;u h&#x1ED7; tr&#x1EE3; k&#x1EF9; thu&#x1EAD;t.
                    p.text-gray-700
                        | B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; r&#x1EB1;ng kh&ocirc;ng gian l&#x1B0;u tr&#x1EEF; kh&ocirc;ng gi&#x1EDB;i h&#x1EA1;n trong t&#x1EA5;t c&#x1EA3; c&aacute;c
                        | g&oacute;i d&#x1ECB;ch v&#x1EE5; &dstrok;&#x1B0;&#x1EE3;c m&ocirc; t&#x1EA3; &#x1EDF; d&#x1ECB;ch v&#x1EE5; Behappy , c&oacute; th&#x1EC3; &dstrok;&#x1EBF;n m&#x1ED9;t gi&#x1EDB;i h&#x1EA1;n
                        | kh&ocirc;ng h&#x1A1;n 100,000 t&#x1EAD;p tin v&agrave; th&#x1B0; m&#x1EE5;c cho m&#x1ED7;i m&#x1ED9;t website. B&#x1EA5;t k&#x1EF3;
                        | website n&agrave;o v&#x1B0;&#x1EE3;t qu&aacute; gi&#x1EDB;i h&#x1EA1;n n&agrave;y s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c ban h&agrave;nh m&#x1ED9;t c&#x1EA3;nh b&aacute;o vi
                        | ph&#x1EA1;m v&agrave; b&#x1ECB; &dstrok;&igrave;nh ch&#x1EC9; n&#x1EBF;u kh&ocirc;ng c&oacute; h&agrave;nh &dstrok;&#x1ED9;ng n&agrave;o &dstrok;&#x1B0;&#x1EE3;c th&#x1EF1;c hi&#x1EC7;n b&#x1EDF;i
                        | b&#x1EA1;n &dstrok;&#x1EC3; gi&#x1EA3;m s&#x1ED1; l&#x1B0;&#x1EE3;ng c&#x1EE7;a c&aacute;c t&#x1EAD;p tin v&agrave; th&#x1B0; m&#x1EE5;c.
                    p.text-gray-700
                        | B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; r&#x1EB1;ng d&#x1ECB;ch v&#x1EE5; l&#x1B0;u tr&#x1EEF; d&agrave;nh cho c&aacute;c trang web v&agrave; &#x1EE8;ng d&#x1EE5;ng
                        | web Behappy l&agrave; d&#x1ECB;ch v&#x1EE5; l&#x1B0;u tr&#x1EEF; chia s&#x1EBB; (share hosting), c&oacute; th&#x1EC3; d&#x1EAB;n
                        | &dstrok;&#x1EBF;n vi&#x1EC7;c gi&#x1EDB;i h&#x1EA1;n t&#x1ED1;c &dstrok;&#x1ED9; truy c&#x1EAD;p ho&#x1EB7;c s&#x1ED1; l&#x1B0;&#x1EE3;ng truy c&#x1EAD;p trong
                        | c&ugrave;ng m&#x1ED9;t th&#x1EDD;i &dstrok;i&#x1EC3;m v&agrave; c&oacute; th&#x1EC3; d&#x1EAB;n &dstrok;&#x1EBF;n vi&#x1EC7;c ho&#x1EA1;t &dstrok;&#x1ED9;ng c&#x1EE7;a website b&#x1ECB;
                        | gi&aacute;n &dstrok;o&#x1EA1;n. B&#x1EA5;t k&#x1EF3; website n&agrave;o v&#x1B0;&#x1EE3;t qu&aacute; gi&#x1EDB;i h&#x1EA1;n n&agrave;y s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c ban
                        | h&agrave;nh m&#x1ED9;t c&#x1EA3;nh b&aacute;o vi ph&#x1EA1;m v&agrave; &dstrok;&#x1EC1; ngh&#x1ECB; chuy&#x1EC3;n &dstrok;&#x1ED5;i trang web l&ecirc;n h&igrave;nh
                        | th&#x1EE9;c l&#x1B0;u tr&#x1EEF; t&#x1ED1;i &#x1B0;u h&#x1A1;n, v&iacute; d&#x1EE5;: m&aacute;y ch&#x1EE7; &#x1EA3;o (Cloud Server) ho&#x1EB7;c m&aacute;y
                        | ch&#x1EE7; ri&ecirc;ng (server). B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; thanh to&aacute;n c&aacute;c chi ph&iacute; li&ecirc;n quan
                        | t&#x1EDB;i vi&#x1EC7;c chuy&#x1EC3;n &dstrok;&#x1ED5;i n&agrave;y.
                    h2.fw-bold.text-gray-700.mt-6
                        | D&#x1ECB;ch v&#x1EE5; mi&#x1EC5;n ph&iacute; v&agrave; cao c&#x1EA5;p
                    p.text-gray-700
                        | C&aacute;c lo&#x1EA1;i h&igrave;nh v&agrave; bi&#x1EC3;u ph&iacute; D&#x1ECB;ch v&#x1EE5; Cao c&#x1EA5;p c&#x1EE7;a ch&uacute;ng t&ocirc;i &dstrok;&#x1B0;&#x1EE3;c m&ocirc; t&#x1EA3;
                        | t&#x1EA1;i trang web v&agrave; c&oacute; th&#x1EC3; &dstrok;&#x1B0;&#x1EE3;c &dstrok;i&#x1EC1;u ch&#x1EC9;nh khi c&oacute; s&#x1EF1; thay &dstrok;&#x1ED5;i.
                    p.text-gray-700
                        | Behappy c&oacute; th&#x1EC3; t&#x1EA1;m th&#x1EDD;i thay &dstrok;&#x1ED5;i bi&#x1EC3;u ph&iacute; cho D&#x1ECB;ch v&#x1EE5; Cao c&#x1EA5;p &aacute;p
                        | d&#x1EE5;ng v&#x1EDB;i m&#x1ED9;t s&#x1ED1; ch&#x1B0;&#x1A1;ng tr&igrave;nh khuy&#x1EBF;n m&atilde;i &#x1EDF; b&#x1EA5;t k&#x1EF3; th&#x1EDD;i &dstrok;i&#x1EC3;m n&agrave;o, v&agrave;
                        | nh&#x1EEF;ng thay &dstrok;&#x1ED5;i nh&#x1B0; v&#x1EAD;y c&oacute; hi&#x1EC7;u qu&#x1EA3; t&#x1EE9;c th&igrave; ngay khi c&aacute;c ch&#x1B0;&#x1A1;ng
                        | tr&igrave;nh khuy&#x1EBF;n m&atilde;i &dstrok;&#x1B0;&#x1EE3;c &dstrok;&abreve;ng t&#x1EA3;i tr&ecirc;n Behappy. B&#x1EA5;t k&#x1EF3; thay &dstrok;&#x1ED5;i bi&#x1EC3;u
                        | ph&iacute; D&#x1ECB;ch v&#x1EE5; Cao c&#x1EA5;p n&agrave;o m&agrave; kh&ocirc;ng ph&#x1EA3;i l&agrave; t&#x1EA1;m th&#x1EDD;i ho&#x1EB7;c khuy&#x1EBF;n m&atilde;i
                        | s&#x1EBD; c&oacute; hi&#x1EC7;u l&#x1EF1;c &#x1EDF; th&#x1EDD;i &dstrok;i&#x1EC3;m ba m&#x1B0;&#x1A1;i (30) ng&agrave;y sau khi ch&uacute;ng t&ocirc;i
                        | th&ocirc;ng b&aacute;o cho b&#x1EA1;n b&#x1EB1;ng c&aacute;ch &dstrok;&abreve;ng nh&#x1EEF;ng thay &dstrok;&#x1ED5;i nh&#x1B0; v&#x1EAD;y tr&ecirc;n
                        | Behappy. Tr&#x1EEB; khi c&oacute; quy &dstrok;&#x1ECB;nh kh&aacute;c, t&#x1EA5;t c&#x1EA3; c&aacute;c l&#x1EC7; ph&iacute; t&iacute;nh b&#x1EB1;ng
                        | Vi&#x1EC7;t Nam &Dstrok;&#x1ED3;ng.
                    p.text-gray-700
                        | V&#x1EDB;i D&#x1ECB;ch v&#x1EE5; Cao c&#x1EA5;p, b&#x1EA1;n c&oacute; th&#x1EC3; n&acirc;ng c&#x1EA5;p l&ecirc;n g&oacute;i d&#x1ECB;ch v&#x1EE5; cao h&#x1A1;n
                        | &dstrok;&#x1EC3; &dstrok;&aacute;p &#x1EE9;ng &dstrok;&#x1B0;&#x1EE3;c nhu c&#x1EA7;u c&#x1EE7;a m&igrave;nh. Y&ecirc;u c&#x1EA7;u n&acirc;ng c&#x1EA5;p g&oacute;i d&#x1ECB;ch v&#x1EE5; s&#x1EBD;
                        | &dstrok;&#x1B0;&#x1EE3;c th&#x1EF1;c hi&#x1EC7;n sau khi b&#x1EA1;n ho&agrave;n t&#x1EA5;t th&#x1EE7; t&#x1EE5;c &dstrok;&oacute;ng ph&iacute; ch&ecirc;nh l&#x1EC7;ch.
                        | Vi&#x1EC7;c ghi nh&#x1EAD;n chuy&#x1EC3;n &dstrok;&#x1ED5;i g&oacute;i d&#x1ECB;ch v&#x1EE5; s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c th&#x1EC3; hi&#x1EC7;n b&#x1EB1;ng phi&#x1EBF;u
                        | thu ho&#x1EB7;c ghi nh&#x1EAD;n giao d&#x1ECB;ch Ng&acirc;n h&agrave;ng.
                    p.text-gray-700
                        | V&#x1EDB;i D&#x1ECB;ch v&#x1EE5; Cao c&#x1EA5;p, website c&#x1EE7;a b&#x1EA1;n s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c kh&#x1EDF;i t&#x1EA1;o v&agrave; ho&agrave;n t&#x1EA5;t
                        | trong t&#x1ED1;i &dstrok;a 05 ng&agrave;y l&agrave;m vi&#x1EC7;c &dstrok;&#x1ED1;i v&#x1EDB;i c&aacute;c g&oacute;i d&#x1ECB;ch v&#x1EE5;. Th&ocirc;ng
                        | th&#x1B0;&#x1EDD;ng website c&#x1EE7;a b&#x1EA1;n s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c kh&#x1EDF;i t&#x1EA1;o trong ng&agrave;y, ngay sau khi
                        | b&#x1EA1;n ho&agrave;n t&#x1EA5;t vi&#x1EC7;c &dstrok;&oacute;ng ph&iacute;, tuy nhi&ecirc;n d&#x1EEF; li&#x1EC7;u m&#x1EB7;c &dstrok;&#x1ECB;nh s&#x1EBD; l&agrave; d&#x1EEF;
                        | li&#x1EC7;u m&#x1EAB;u. Trong kho&#x1EA3;ng th&#x1EDD;i h&#x1EA1;n nh&#x1B0; &dstrok;&atilde; n&ecirc;u, Behappy s&#x1EBD; nh&#x1EAD;p d&#x1EEF;
                        | li&#x1EC7;u cho b&#x1EA1;n d&#x1EF1;a tr&ecirc;n s&#x1ED1; l&#x1B0;&#x1EE3;ng d&#x1EEF; li&#x1EC7;u b&#x1EA1;n &dstrok;&#x1B0;&#x1EE3;c h&#x1ED7; tr&#x1EE3; theo t&#x1EEB;ng
                        | g&oacute;i d&#x1ECB;ch v&#x1EE5;, th&#x1EDD;i gian ho&agrave;n t&#x1EA5;t s&#x1EBD; c&ograve;n tu&#x1EF3; thu&#x1ED9;c v&agrave;o th&#x1EDD;i &dstrok;i&#x1EC3;m m&agrave;
                        | ch&uacute;ng t&ocirc;i nh&#x1EAD;n nh&#x1EEF;ng d&#x1EEF; li&#x1EC7;u t&#x1EEB; b&#x1EA1;n.
                    p.text-gray-700
                        | Trong ph&#x1EA1;m vi ph&aacute;p lu&#x1EAD;t cho ph&eacute;p v&agrave; kh&#x1EA3; n&abreve;ng c&#x1EE7;a m&igrave;nh, Behappy c&oacute;
                        | th&#x1EC3; cung c&#x1EA5;p m&#x1ED9;t ho&#x1EB7;c nhi&#x1EC1;u d&#x1ECB;ch v&#x1EE5; mi&#x1EC5;n ph&iacute; cho ng&#x1B0;&#x1EDD;i d&ugrave;ng, mi&#x1EC5;n
                        | ph&iacute; m&#x1ED9;t ph&#x1EA7;n ho&#x1EB7;c to&agrave;n b&#x1ED9;. B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; r&#x1EB1;ng tr&ecirc;n c&aacute;c d&#x1ECB;ch v&#x1EE5; mi&#x1EC5;n
                        | ph&iacute; m&agrave; b&#x1EA1;n &dstrok;&abreve;ng k&yacute; s&#x1EED; d&#x1EE5;ng do ch&uacute;ng t&ocirc;i cung c&#x1EA5;p, Behappy gi&#x1EEF; to&agrave;n
                        | quy&#x1EC1;n ph&aacute;t h&agrave;nh c&aacute;c qu&#x1EA3;ng c&aacute;o, bao g&#x1ED3;m nh&#x1B0;ng kh&ocirc;ng gi&#x1EDB;i h&#x1EA1;n, l&ecirc;n
                        | m&agrave;n h&igrave;nh hi&#x1EC3;n th&#x1ECB; c&aacute;c d&#x1ECB;ch v&#x1EE5; mi&#x1EC5;n ph&iacute; &dstrok;&oacute; nh&#x1B0;: logo, banner, popup
                        | (c&#x1EED;a s&#x1ED5; b&#x1EAD;t l&ecirc;n), t&#x1EEB; kh&oacute;a, &dstrok;&#x1B0;&#x1EDD;ng d&#x1EAB;n t&#x1EDB;i m&#x1ED9;t website th&#x1EE9; ba v.v&mldr;
                    p.text-gray-700
                        | B&#x1EA1;n c&oacute; th&#x1EC3; ng&#x1EEB;ng s&#x1EED; d&#x1EE5;ng D&#x1ECB;ch v&#x1EE5; Mi&#x1EC5;n ph&iacute; c&#x1EE7;a ch&uacute;ng t&ocirc;i b&#x1EA5;t k&#x1EF3; l&uacute;c
                        | n&agrave;o, m&#x1EB7;c d&ugrave; ch&uacute;ng t&ocirc;i s&#x1EBD; r&#x1EA5;t ti&#x1EBF;c khi b&#x1EA1;n kh&ocirc;ng c&ograve;n s&#x1EED; d&#x1EE5;ng D&#x1ECB;ch
                        | v&#x1EE5; c&#x1EE7;a ch&uacute;ng t&ocirc;i n&#x1EEF;a. Behappy c&utilde;ng c&oacute; th&#x1EC3; ng&#x1EEB;ng cung c&#x1EA5;p D&#x1ECB;ch v&#x1EE5;
                        | Mi&#x1EC5;n ph&iacute; cho b&#x1EA1;n ho&#x1EB7;c t&#x1EA1;o ra nh&#x1EEF;ng gi&#x1EDB;i h&#x1EA1;n m&#x1EDB;i cho D&#x1ECB;ch v&#x1EE5; c&#x1EE7;a
                        | ch&uacute;ng t&ocirc;i b&#x1EA5;t k&#x1EF3; l&uacute;c n&agrave;o.
                    h2.fw-bold.text-gray-700.mt-6 &Dstrok;i&#x1EC1;u kho&#x1EA3;n thanh to&aacute;n
                    p.text-gray-700
                        | B&#x1EA1;n c&oacute; tr&aacute;ch nhi&#x1EC7;m thanh to&aacute;n t&#x1EA5;t c&#x1EA3; c&aacute;c l&#x1EC7; ph&iacute; v&agrave; thu&#x1EBF; &aacute;p d&#x1EE5;ng
                        | v&#x1EDB;i D&#x1ECB;ch v&#x1EE5; Cao c&#x1EA5;p m&#x1ED9;t c&aacute;ch k&#x1ECB;p th&#x1EDD;i b&#x1EB1;ng ph&#x1B0;&#x1A1;ng th&#x1EE9;c thanh to&aacute;n
                        | h&#x1EE3;p l&#x1EC7;.
                    p.text-gray-700
                        | Vi&#x1EC7;c thanh to&aacute;n &dstrok;&#x1B0;&#x1EE3;c th&#x1EF1;c hi&#x1EC7;n qua th&#x1EBB; t&iacute;n d&#x1EE5;ng, th&#x1EBB; c&agrave;o, th&#x1EBB; ghi
                        | n&#x1EE3;, PayPal, ho&#x1EB7;c t&agrave;i kho&#x1EA3;n c&#x1EE7;a t&#x1ED5; ch&#x1EE9;c t&agrave;i ch&iacute;nh (sau &dstrok;&acirc;y g&#x1ECD;i l&agrave;
                        | &ldquo;Ph&#x1B0;&#x1A1;ng th&#x1EE9;c Thanh to&aacute;n&rdquo;) cho t&#x1EA5;t c&#x1EA3; c&aacute;c chi ph&iacute; v&agrave;o t&agrave;i kho&#x1EA3;n c&#x1EE7;a
                        | b&#x1EA1;n &#x1EDF; Behappy. Ph&#x1B0;&#x1A1;ng th&#x1EE9;c Thanh to&aacute;n c&#x1EE7;a b&#x1EA1;n s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c t&iacute;nh ph&iacute; cho
                        | c&aacute;c lo&#x1EA1;i ph&iacute; hi&#x1EC7;n h&agrave;nh m&agrave; b&#x1EA1;n s&#x1EED; d&#x1EE5;ng v&agrave;o c&aacute;c D&#x1ECB;ch v&#x1EE5; Cao c&#x1EA5;p v&agrave;o
                        | ng&agrave;y m&agrave; b&#x1EA1;n b&#x1EA5;m v&agrave;o n&uacute;t &ldquo;&Dstrok;&#x1EB7;t Mua&rdquo; trong qu&aacute; tr&igrave;nh &dstrok;&#x1EB7;t h&agrave;ng. C&aacute;c
                        | D&#x1ECB;ch v&#x1EE5; Cao c&#x1EA5;p do Behappy cung c&#x1EA5;p ph&#x1EA3;i n&#x1ED9;p ti&#x1EC1;n &dstrok;&#x1ECB;nh k&#x1EF3;. B&#x1EA1;n
                        | &dstrok;&#x1ED3;ng &yacute; r&#x1EB1;ng Behappy c&oacute; th&#x1EC3; t&#x1EF1; &dstrok;&#x1ED9;ng t&iacute;nh l&#x1EC7; ph&iacute; b&#x1EB1;ng Ph&#x1B0;&#x1A1;ng th&#x1EE9;c
                        | Thanh to&aacute;n c&#x1EE7;a b&#x1EA1;n v&agrave;o &dstrok;&#x1EA7;u m&#x1ED7;i kho&#x1EA3;ng th&#x1EDD;i gian &dstrok;&#x1ECB;nh k&#x1EF3; (ho&#x1EB7;c &dstrok;&#x1EBF;n
                        | 30 ng&agrave;y tr&#x1B0;&#x1EDB;c khi t&ecirc;n mi&#x1EC1;n c&#x1EE7;a b&#x1EA1;n h&#x1EBF;t h&#x1EA1;n). V&iacute; d&#x1EE5;, n&#x1EBF;u b&#x1EA1;n ch&#x1ECD;n
                        | m&#x1ED9;t D&#x1ECB;ch v&#x1EE5; Cao c&#x1EA5;p v&#x1EDB;i m&#x1ED9;t k&#x1EBF; ho&#x1EA1;ch m&#x1ED7;i 12 th&aacute;ng, b&#x1EA1;n s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c l&#x1EAD;p
                        | ho&aacute; &dstrok;&#x1A1;n &dstrok;&#x1ECB;nh k&#x1EF3; m&#x1B0;&#x1EDD;i hai (12) th&aacute;ng v&agrave;o ng&agrave;y m&agrave; b&#x1EA1;n nh&#x1EA5;p v&agrave;o n&uacute;t
                        | &ldquo;&Dstrok;&#x1EB7;t Mua&rdquo;. Trong tr&#x1B0;&#x1EDD;ng h&#x1EE3;p t&ecirc;n mi&#x1EC1;n, b&#x1EA1;n c&oacute; th&#x1EC3; &dstrok;&#x1B0;&#x1EE3;c l&#x1EAD;p ho&aacute; &dstrok;&#x1A1;n
                        | kho&#x1EA3;ng 30 ng&agrave;y tr&#x1B0;&#x1EDB;c khi t&ecirc;n mi&#x1EC1;n c&#x1EE7;a b&#x1EA1;n h&#x1EBF;t h&#x1EA1;n &ndash; &dstrok;i&#x1EC1;u n&agrave;y t&ugrave;y
                        | thu&#x1ED9;c v&agrave;o c&aacute;c &dstrok;i&#x1EC1;u kho&#x1EA3;n gia h&#x1EA1;n c&#x1EE7;a Nh&agrave; &Dstrok;&abreve;ng k&yacute; T&ecirc;n Mi&#x1EC1;n (nh&#x1EEF;ng
                        | &dstrok;i&#x1EC1;u kho&#x1EA3;n n&agrave;y kh&ocirc;ng thu&#x1ED9;c th&#x1EA9;m quy&#x1EC1;n c&#x1EE7;a Behappy ).
                    p.text-gray-700
                        | Trong t&#x1EA5;t c&#x1EA3; c&aacute;c tr&#x1B0;&#x1EDD;ng h&#x1EE3;p, b&#x1EA1;n x&aacute;c nh&#x1EAD;n v&agrave; &dstrok;&#x1ED3;ng &yacute; r&#x1EB1;ng b&#x1EA5;t k&#x1EF3;
                        | th&#x1EBB; t&iacute;n d&#x1EE5;ng v&agrave; h&oacute;a &dstrok;&#x1A1;n thanh to&aacute;n li&ecirc;n quan v&agrave; th&ocirc;ng tin thanh
                        | to&aacute;n m&agrave; b&#x1EA1;n cung c&#x1EA5;p cho Behappy c&oacute; th&#x1EC3; &dstrok;&#x1B0;&#x1EE3;c Behappy chia s&#x1EBB; cho
                        | c&aacute;c c&ocirc;ng ty ho&#x1EA1;t &dstrok;&#x1ED9;ng thay m&#x1EB7;t cho Behappy , ch&#x1EB3;ng h&#x1EA1;n nh&#x1B0; c&ocirc;ng ty
                        | x&#x1EED; l&yacute; thanh to&aacute;n v&agrave; / ho&#x1EB7;c c&aacute;c c&#x1A1; quan t&iacute;n d&#x1EE5;ng, ch&#x1EC9; duy nh&#x1EA5;t cho
                        | M&#x1EE5;c &dstrok;&iacute;ch ki&#x1EC3;m tra t&iacute;n d&#x1EE5;ng, th&#x1EF1;c hi&#x1EC7;n vi&#x1EC7;c thanh to&aacute;n &dstrok;&#x1EC3; Behappy
                        | ph&#x1EE5;c v&#x1EE5; b&#x1EA1;n. C&aacute;c &dstrok;i&#x1EC1;u kho&#x1EA3;n v&#x1EC1; vi&#x1EC7;c thanh to&aacute;n c&#x1EE7;a b&#x1EA1;n s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c d&#x1EF1;a
                        | tr&ecirc;n Ph&#x1B0;&#x1A1;ng th&#x1EE9;c Thanh to&aacute;n m&agrave; b&#x1EA1;n l&#x1EF1;a ch&#x1ECD;n v&agrave; c&oacute; th&#x1EC3; &dstrok;&#x1B0;&#x1EE3;c x&aacute;c
                        | &dstrok;&#x1ECB;nh b&#x1EDF;i th&#x1ECF;a thu&#x1EAD;n gi&#x1EEF;a b&#x1EA1;n v&agrave; t&#x1ED5; ch&#x1EE9;c t&agrave;i ch&iacute;nh cung c&#x1EA5;p Ph&#x1B0;&#x1A1;ng
                        | th&#x1EE9;c Thanh to&aacute;n &dstrok;&oacute;.
                    p.text-gray-700
                        | B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; tr&#x1EA3; cho Behappy t&#x1EA5;t c&#x1EA3; c&aacute;c chi ph&iacute; ph&aacute;t sinh trong t&agrave;i
                        | kho&#x1EA3;n c&#x1EE7;a b&#x1EA1;n cho b&#x1EA5;t k&#x1EF3; D&#x1ECB;ch v&#x1EE5; Cao c&#x1EA5;p n&agrave;o &dstrok;&#x1B0;&#x1EE3;c s&#x1EED; d&#x1EE5;ng. N&#x1EBF;u
                        | Ph&#x1B0;&#x1A1;ng th&#x1EE9;c Thanh to&aacute;n c&#x1EE7;a b&#x1EA1;n kh&ocirc;ng ho&#x1EA1;t &dstrok;&#x1ED9;ng ho&#x1EB7;c t&agrave;i kho&#x1EA3;n c&#x1EE7;a
                        | b&#x1EA1;n qu&aacute; h&#x1EA1;n, (a) b&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; thanh to&aacute;n t&#x1EA5;t c&#x1EA3; chi ph&iacute; ph&#x1EA3;i tr&#x1EA3; cho
                        | Behappy theo y&ecirc;u c&#x1EA7;u, (b) Behappy to&agrave;n quy&#x1EC1;n &dstrok;&igrave;nh ch&#x1EC9; ho&#x1EB7;c ch&#x1EA5;m
                        | d&#x1EE9;t D&#x1ECB;ch v&#x1EE5; Cao c&#x1EA5;p ho&#x1EB7;c T&agrave;i kho&#x1EA3;n c&#x1EE7;a b&#x1EA1;n t&#x1EA1;i Behappy , bao g&#x1ED3;m
                        | c&#x1EA3; x&oacute;a Trang web Th&agrave;nh vi&ecirc;n c&#x1EE7;a b&#x1EA1;n t&#x1EEB; Behappy.
                    h2.fw-bold.text-gray-700.mt-6 Thu&#x1EBF;
                    p.text-gray-700
                        | B&#x1EA1;n c&oacute; tr&aacute;ch nhi&#x1EC7;m thanh to&aacute;n m&#x1ECD;i kho&#x1EA3;n thu&#x1EBF; c&oacute; th&#x1EC3; ph&aacute;t sinh &dstrok;&#x1ED1;i
                        | v&#x1EDB;i vi&#x1EC7;c s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; c&#x1EE7;a b&#x1EA1;n v&#x1EDB;i Behappy. Khi c&oacute; y&ecirc;u c&#x1EA7;u, b&#x1EA1;n
                        | s&#x1EBD; nhanh ch&oacute;ng cung c&#x1EA5;p cho Behappy bi&ecirc;n lai v&agrave; / ho&#x1EB7;c gi&#x1EA5;y ch&#x1EE9;ng
                        | nh&#x1EAD;n li&ecirc;n quan ngay khi c&oacute; th&#x1EC3; m&#x1ED9;t c&aacute;ch h&#x1EE3;p l&yacute;. Trong ph&#x1EA1;m vi m&agrave;
                        | Behappy b&#x1EAF;t bu&#x1ED9;c ph&#x1EA3;i thu thu&#x1EBF; nh&#x1B0; v&#x1EAD;y, thu&#x1EBF; &aacute;p d&#x1EE5;ng s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c th&ecirc;m
                        | v&agrave;o t&agrave;i kho&#x1EA3;n thanh to&aacute;n c&#x1EE7;a b&#x1EA1;n.
                    h2.fw-bold.text-gray-700.mt-6 &Dstrok;i&#x1EC1;u kho&#x1EA3;n v&#x1EC1; t&ecirc;n mi&#x1EC1;n
                    p.text-gray-700
                        | B&#x1EA1;n l&agrave; ch&#x1EE7; s&#x1EDF; h&#x1EEF;u h&#x1EE3;p ph&aacute;p c&#x1EE7;a t&ecirc;n mi&#x1EC1;n m&agrave; b&#x1EA1;n &dstrok;&abreve;ng k&yacute;. B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute;
                        | thanh to&aacute;n t&#x1EA5;t c&#x1EA3; c&aacute;c lo&#x1EA1;i thu&#x1EBF;, ph&iacute; li&ecirc;n quan &dstrok;&#x1EBF;n vi&#x1EC7;c &dstrok;&abreve;ng k&yacute;
                        | t&ecirc;n mi&#x1EC1;n c&#x1EE7;a b&#x1EA1;n cho ch&uacute;ng t&ocirc;i. Ch&uacute;ng t&ocirc;i s&#x1EBD; c&#x1ED1; g&#x1EAF;ng trong &dstrok;i&#x1EC1;u
                        | ki&#x1EC7;n cho ph&eacute;p &dstrok;&#x1EC3; li&ecirc;n l&#x1EA1;c v&#x1EDB;i b&#x1EA1;n tr&#x1B0;&#x1EDB;c khi th&#x1EDD;i gian &dstrok;&abreve;ng k&yacute; s&#x1EED;
                        | d&#x1EE5;ng t&ecirc;n mi&#x1EC1;n h&#x1EBF;t h&#x1EA1;n v&agrave; cung c&#x1EA5;p cho b&#x1EA1;n c&aacute;c t&ugrave;y ch&#x1ECD;n &dstrok;&#x1EC3; gia h&#x1EA1;n
                        | &dstrok;&abreve;ng k&yacute; s&#x1EED; d&#x1EE5;ng t&ecirc;n mi&#x1EC1;n.
                    p.text-gray-700
                        | N&#x1EBF;u Behappy kh&ocirc;ng th&#x1EC3; li&ecirc;n l&#x1EA1;c v&#x1EDB;i b&#x1EA1;n b&#x1EB1;ng c&aacute;ch s&#x1EED; d&#x1EE5;ng c&aacute;c th&ocirc;ng
                        | tin b&#x1EA1;n cung c&#x1EA5;p, ch&uacute;ng t&ocirc;i kh&ocirc;ng ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m v&#x1EC1; s&#x1EF1; m&#x1EA5;t m&aacute;t
                        | t&ecirc;n mi&#x1EC1;n. Behappy c&oacute; quy&#x1EC1;n thay &dstrok;&#x1ED5;i gi&aacute; &dstrok;&abreve;ng k&yacute; t&ecirc;n mi&#x1EC1;n b&#x1EA5;t k&#x1EF3;
                        | l&uacute;c n&agrave;o. B&#x1EA1;n kh&ocirc;ng th&#x1EC3; ho&agrave;n tr&#x1EA3; l&#x1EA1;i ho&#x1EB7;c &dstrok;&#x1ED5;i t&ecirc;n mi&#x1EC1;n c&#x1EE7;a b&#x1EA1;n khi
                        | &dstrok;&atilde; ti&#x1EBF;n h&agrave;nh &dstrok;&abreve;ng k&yacute;.
                    h2.fw-bold.text-gray-700.mt-6 Quy&#x1EC1;n s&#x1EDF; h&#x1EEF;u tr&iacute; tu&#x1EC7;
                    p.text-gray-700
                        | T&#x1EA5;t c&#x1EA3; quy&#x1EC1;n s&#x1EDF; h&#x1EEF;u tr&iacute; tu&#x1EC7; t&#x1ED3;n t&#x1EA1;i trong Trang web &dstrok;&#x1EC1;u thu&#x1ED9;c v&#x1EC1;
                        | C&ocirc;ng ty C&#x1ED5; ph&#x1EA7;n Behappy ho&#x1EB7;c &dstrok;&#x1B0;&#x1EE3;c c&#x1EA5;p ph&eacute;p h&#x1EE3;p ph&aacute;p cho C&ocirc;ng ty C&#x1ED5;
                        | ph&#x1EA7;n Behappy s&#x1EED; d&#x1EE5;ng, theo &dstrok;&oacute;, t&#x1EA5;t c&#x1EA3; c&aacute;c quy&#x1EC1;n h&#x1EE3;p ph&aacute;p &dstrok;&#x1EC1;u &dstrok;&#x1B0;&#x1EE3;c
                        | &dstrok;&#x1EA3;m b&#x1EA3;o. Tr&#x1EEB; khi &dstrok;&#x1B0;&#x1EE3;c s&#x1EF1; &dstrok;&#x1ED3;ng &yacute; c&#x1EE7;a C&ocirc;ng ty c&#x1ED5; ph&#x1EA7;n Behappy ,
                        | Ng&#x1B0;&#x1EDD;i S&#x1EED; D&#x1EE5;ng kh&ocirc;ng &dstrok;&#x1B0;&#x1EE3;c ph&eacute;p s&#x1EED; d&#x1EE5;ng, sao ch&eacute;p, xu&#x1EA5;t b&#x1EA3;n, t&aacute;i s&#x1EA3;n
                        | xu&#x1EA5;t, truy&#x1EC1;n ho&#x1EB7;c ph&acirc;n ph&aacute;t b&#x1EB1;ng b&#x1EA5;t c&#x1EE9; h&igrave;nh th&#x1EE9;c n&agrave;o, b&#x1EA5;t c&#x1EE9;
                        | th&agrave;nh ph&#x1EA7;n n&agrave;o c&aacute;c quy&#x1EC1;n s&#x1EDF; h&#x1EEF;u tr&iacute; tu&#x1EC7; &dstrok;&#x1ED1;i v&#x1EDB;i s&#x1EA3;n ph&#x1EA9;m, d&#x1ECB;ch v&#x1EE5;
                        | &dstrok;&#x1B0;&#x1EE3;c n&ecirc;u trong b&#x1EA3;n th&#x1ECF;a thu&#x1EAD;n n&agrave;y.
                    p.text-gray-700
                        | Ch&uacute;ng t&ocirc;i c&oacute; to&agrave;n quy&#x1EC1;n, bao g&#x1ED3;m nh&#x1B0;ng kh&ocirc;ng gi&#x1EDB;i h&#x1EA1;n trong c&aacute;c
                        | quy&#x1EC1;n t&aacute;c gi&#x1EA3;, th&#x1B0;&#x1A1;ng hi&#x1EC7;u, b&iacute; m&#x1EAD;t kinh doanh, nh&atilde;n hi&#x1EC7;u v&agrave; c&aacute;c
                        | quy&#x1EC1;n s&#x1EDF; h&#x1EEF;u tr&iacute; tu&#x1EC7; kh&aacute;c trong c&aacute;c d&#x1ECB;ch v&#x1EE5; tr&ecirc;n Trang web c&#x1EE7;a
                        | C&ocirc;ng ty c&#x1ED5; ph&#x1EA7;n Behappy. Vi&#x1EC7;c s&#x1EED; d&#x1EE5;ng quy&#x1EC1;n v&agrave; s&#x1EDF; h&#x1EEF;u c&#x1EE7;a ch&uacute;ng
                        | t&ocirc;i c&#x1EA7;n ph&#x1EA3;i &dstrok;&#x1B0;&#x1EE3;c ch&uacute;ng t&ocirc;i cho ph&eacute;p tr&#x1B0;&#x1EDB;c b&#x1EB1;ng v&abreve;n b&#x1EA3;n. Ngo&agrave;i
                        | vi&#x1EC7;c &dstrok;&#x1B0;&#x1EE3;c c&#x1EA5;p ph&eacute;p b&#x1EB1;ng v&abreve;n b&#x1EA3;n, ch&uacute;ng t&ocirc;i kh&ocirc;ng c&#x1EA5;p ph&eacute;p d&#x1B0;&#x1EDB;i b&#x1EA5;t
                        | k&#x1EF3; h&igrave;nh th&#x1EE9;c n&agrave;o kh&aacute;c cho d&ugrave; &dstrok;&oacute; l&agrave; h&igrave;nh th&#x1EE9;c c&ocirc;ng b&#x1ED1; hay h&agrave;m &yacute; &dstrok;&#x1EC3;
                        | b&#x1EA1;n th&#x1EF1;c hi&#x1EC7;n c&aacute;c quy&#x1EC1;n tr&ecirc;n. V&agrave; do v&#x1EAD;y, Ng&#x1B0;&#x1EDD;i S&#x1EED; D&#x1EE5;ng kh&ocirc;ng c&oacute;
                        | quy&#x1EC1;n s&#x1EED; d&#x1EE5;ng s&#x1EA3;n ph&#x1EA9;m c&#x1EE7;a ch&uacute;ng t&ocirc;i v&agrave;o m&#x1EE5;c &dstrok;&iacute;ch th&#x1B0;&#x1A1;ng m&#x1EA1;i m&agrave;
                        | kh&ocirc;ng c&oacute; s&#x1EF1; cho ph&eacute;p b&#x1EB1;ng v&abreve;n b&#x1EA3;n c&#x1EE7;a ch&uacute;ng t&ocirc;i tr&#x1B0;&#x1EDB;c &dstrok;&oacute;.
                    p.text-gray-700
                        | Logo Behappy trong trang web c&#x1EE7;a b&#x1EA1;n &dstrok;&#x1B0;&#x1EE3;c hi&#x1EC3;u l&agrave; nh&#x1EAD;n di&#x1EC7;n th&#x1B0;&#x1A1;ng
                        | hi&#x1EC7;u c&#x1EE7;a Behappy , vi&#x1EC7;c t&#x1ED3;n t&#x1EA1;i logo Behappy s&#x1EBD; &dstrok;&#x1EA3;m b&#x1EA3;o r&#x1EB1;ng trang
                        | web c&#x1EE7;a b&#x1EA1;n s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c b&#x1EA3;o h&agrave;nh trong su&#x1ED1;t th&#x1EDD;i gian c&#x1EE7;a d&#x1ECB;ch v&#x1EE5;.
                        | Ng&#x1B0;&#x1EE3;c l&#x1EA1;i, khi b&#x1EA1;n t&#x1EF1; &yacute; g&#x1EE1; b&#x1ECF; logo Behappy , m&agrave; ch&#x1B0;a &dstrok;&#x1B0;&#x1EE3;c s&#x1EF1; ch&#x1EA5;p
                        | thu&#x1EAD;n c&#x1EE7;a ch&uacute;ng t&ocirc;i, c&oacute; ngh&itilde;a l&agrave; b&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; r&#x1EB1;ng ch&uacute;ng t&ocirc;i kh&ocirc;ng
                        | ph&#x1EA3;i c&oacute; tr&aacute;ch nhi&#x1EC7;m b&#x1EA3;o h&agrave;nh cho trang web c&#x1EE7;a b&#x1EA1;n. Tuy nhi&ecirc;n, khi
                        | b&#x1EA1;n s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; cao c&#x1EA5;p c&#x1EE7;a Behappy v&#x1EDB;i g&oacute;i cao nh&#x1EA5;t, b&#x1EA1;n c&oacute;
                        | th&#x1EC3; y&ecirc;u c&#x1EA7;u ch&uacute;ng t&ocirc;i g&#x1EE1; b&#x1ECF; logo Behappy tr&ecirc;n trang web c&#x1EE7;a b&#x1EA1;n m&agrave;
                        | b&#x1EA1;n v&#x1EAB;n &dstrok;&#x1EA3;m b&#x1EA3;o b&#x1EA3;o quy&#x1EC1;n &dstrok;&#x1B0;&#x1EE3;c b&#x1EA3;o h&agrave;nh.
                    h2.fw-bold.text-gray-700.mt-6
                        | &Dstrok;i&#x1EC1;u kho&#x1EA3;n mi&#x1EC5;n tr&#x1EEB; tr&aacute;ch nhi&#x1EC7;m
                    p.text-gray-700
                        | Trong m&#x1ECD;i tr&#x1B0;&#x1EDD;ng h&#x1EE3;p, Behappy kh&ocirc;ng ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m v&#x1EC1; c&aacute;c thi&#x1EBF;t
                        | b&#x1ECB;, m&aacute;y m&oacute;c m&agrave; b&#x1EA1;n d&ugrave;ng &dstrok;&#x1EC3; truy c&#x1EAD;p v&agrave;o trang web ch&uacute;ng t&ocirc;i nh&#x1B0;:
                        | Thi&#x1EBF;t b&#x1ECB; truy c&#x1EAD;p, thi&#x1EBF;t b&#x1ECB; &dstrok;&#x1EC3; chuy&#x1EC3;n t&#x1EA3;i. Khi s&#x1EED; d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5;,
                        | B&#x1EA1;n ph&#x1EA3;i t&#x1EF1; trang b&#x1ECB; m&aacute;y m&oacute;c, thi&#x1EBF;t b&#x1ECB; c&#x1EA7;n thi&#x1EBF;t cho qu&aacute; tr&igrave;nh
                        | &dstrok;&abreve;ng nh&#x1EAD;p, truy&#x1EC1;n t&#x1EA3;i v&agrave; b&#x1EA1;n ph&#x1EA3;i t&#x1EF1; ch&#x1ECB;u m&#x1ECD;i tr&aacute;ch nhi&#x1EC7;m v&agrave; ph&iacute;
                        | t&#x1ED5;n ph&aacute;t sinh trong qu&aacute; tr&igrave;nh s&#x1EED; d&#x1EE5;ng.
                    p.text-gray-700
                        | Behappy s&#x1EBD; kh&ocirc;ng ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m cho b&#x1EA5;t k&#x1EF3; h&agrave;nh &dstrok;&#x1ED9;ng ho&#x1EB7;c thi&#x1EBF;u
                        | s&oacute;t n&agrave;o c&#x1EE7;a b&ecirc;n th&#x1EE9; ba, bao g&#x1ED3;m nh&#x1B0;ng kh&ocirc;ng gi&#x1EDB;i h&#x1EA1;n, t&#x1ED5; ch&#x1EE9;c t&agrave;i
                        | ch&iacute;nh c&#x1EE7;a b&#x1EA1;n, b&#x1EA5;t k&#x1EF3; h&#x1EC7; th&#x1ED1;ng thanh to&aacute;n n&agrave;o, b&#x1EA5;t k&#x1EF3; b&ecirc;n cung c&#x1EA5;p
                        | d&#x1ECB;ch v&#x1EE5; th&#x1EE9; ba, b&#x1EA5;t k&#x1EF3; nh&agrave; cung c&#x1EA5;p d&#x1ECB;ch v&#x1EE5; vi&#x1EC5;n th&ocirc;ng, c&aacute;c &dstrok;i&#x1EC3;m
                        | truy c&#x1EAD;p Internet ho&#x1EB7;c c&aacute;c trung t&acirc;m d&#x1EEF; li&#x1EC7;u ho&#x1EB7;c thi&#x1EBF;t b&#x1ECB; m&aacute;y
                        | t&iacute;nh ho&#x1EB7;c ph&#x1EA7;n m&#x1EC1;m, b&#x1EA5;t k&#x1EF3; d&#x1ECB;ch v&#x1EE5; th&#x1B0; t&iacute;n ho&#x1EB7;c d&#x1ECB;ch v&#x1EE5; giao nh&#x1EAD;n
                        | ho&#x1EB7;c cho b&#x1EA5;t k&#x1EF3; tr&#x1B0;&#x1EDD;ng h&#x1EE3;p ngo&agrave;i t&#x1EA7;m ki&#x1EC3;m so&aacute;t c&#x1EE7;a Behappy (bao
                        | g&#x1ED3;m nh&#x1B0;ng kh&ocirc;ng gi&#x1EDB;i h&#x1EA1;n, ch&aacute;y, l&#x1EE5;t, th&#x1EA3;m h&#x1ECD;a thi&ecirc;n nhi&ecirc;n kh&aacute;c,
                        | chi&#x1EBF;n tranh, b&#x1EA1;o lo&#x1EA1;n, &dstrok;&igrave;nh c&ocirc;ng, h&agrave;nh vi d&acirc;n s&#x1EF1; ho&#x1EB7;c c&#x1A1; quan qu&acirc;n
                        | s&#x1EF1;, thi&#x1EBF;t b&#x1ECB; b&#x1ECB; l&#x1ED7;i, virus m&aacute;y t&iacute;nh, x&acirc;m nh&#x1EAD;p ho&#x1EB7;c t&#x1EA5;n c&ocirc;ng b&#x1EDF;i
                        | m&#x1ED9;t b&ecirc;n th&#x1EE9; ba, ho&#x1EB7;c b&#x1ECB; gi&aacute;n &dstrok;o&#x1EA1;n &dstrok;i&#x1EC7;n; vi&#x1EC5;n th&ocirc;ng; d&#x1ECB;ch v&#x1EE5; ti&#x1EC7;n
                        | &iacute;ch kh&aacute;c).
                    p.text-gray-700
                        | Behappy kh&ocirc;ng &dstrok;&#x1EA3;m b&#x1EA3;o vi&#x1EC7;c lo&#x1EA1;i tr&#x1EEB; c&aacute;c y&#x1EBF;u t&#x1ED1; g&acirc;y h&#x1EA1;i &dstrok;&#x1EBF;n vi&#x1EC7;c s&#x1EED;
                        | d&#x1EE5;ng d&#x1ECB;ch v&#x1EE5; c&#x1EE7;a b&#x1EA1;n, bao g&#x1ED3;m nh&#x1B0;ng kh&ocirc;ng gi&#x1EDB;i h&#x1EA1;n nh&#x1EEF;ng y&#x1EBF;u t&#x1ED1;
                        | sau: H&agrave;nh vi c&#x1ED1; &yacute; vi ph&#x1EA1;m v&agrave; g&acirc;y thi&#x1EC7;t h&#x1EA1;i t&#x1EEB; b&ecirc;n th&#x1EE9; ba, ho&#x1EB7;c
                        | Virus. Ch&uacute;ng t&ocirc;i kh&ocirc;ng &dstrok;&#x1EA3;m b&#x1EA3;o vi&#x1EC7;c cung c&#x1EA5;p d&#x1ECB;ch v&#x1EE5; m&agrave; kh&ocirc;ng c&oacute;
                        | b&#x1EA5;t k&#x1EF3; s&#x1EF1; c&#x1ED1; tr&#x1EE5;c tr&#x1EB7;c, sai ch&#x1EE9;c n&abreve;ng ho&#x1EB7;c nh&#x1EEF;ng v&#x1EA5;n &dstrok;&#x1EC1; kh&aacute;c t&aacute;c
                        | &dstrok;&#x1ED9;ng kh&aacute;c n&#x1EBF;u c&oacute;.
                    p.text-gray-700
                        | C&oacute; th&#x1EC3; c&oacute; nh&#x1EEF;ng y&#x1EBF;u t&#x1ED1; v&#x1B0;&#x1EE3;t ra ngo&agrave;i t&#x1EA7;m ki&#x1EC3;m so&aacute;t c&#x1EE7;a ch&uacute;ng t&ocirc;i
                        | d&#x1EAB;n &dstrok;&#x1EBF;n vi&#x1EC7;c s&#x1EA3;n ph&#x1EA9;m b&#x1ECB; l&#x1ED7;i. Ch&uacute;ng t&ocirc;i s&#x1EBD; c&#x1ED1; g&#x1EAF;ng kh&#x1EAF;c ph&#x1EE5;c l&#x1ED7;i
                        | s&#x1EA3;n ph&#x1EA9;m &dstrok;&#x1EC3; &dstrok;em l&#x1EA1;i s&#x1EF1; h&agrave;i l&ograve;ng cho kh&aacute;ch h&agrave;ng v&agrave; ch&uacute;ng t&ocirc;i kh&ocirc;ng
                        | ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m h&#x1ED7; tr&#x1EE3; ho&#x1EB7;c b&#x1ED3;i th&#x1B0;&#x1EDD;ng cho kh&aacute;ch h&agrave;ng v&#x1EC1; nh&#x1EEF;ng
                        | r&#x1EE7;i ro tr&ecirc;n v&agrave; thi&#x1EC7;t h&#x1EA1;i (n&#x1EBF;u c&oacute;).
                    p.text-gray-700
                        | B&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; b&#x1EA3;o v&#x1EC7;, b&#x1ED3;i ho&agrave;n v&agrave; lo&#x1EA1;i tr&#x1EEB; Ch&uacute;ng t&ocirc;i kh&#x1ECF;i nh&#x1EEF;ng ngh&itilde;a
                        | v&#x1EE5; ph&aacute;p l&yacute;, t&#x1ED1; t&#x1EE5;ng, t&#x1ED5;n th&#x1EA5;t, chi ph&iacute; bao g&#x1ED3;m nh&#x1B0;ng kh&ocirc;ng gi&#x1EDB;i
                        | h&#x1EA1;n &aacute;n ph&iacute;, chi ph&iacute; lu&#x1EAD;t s&#x1B0;, chuy&ecirc;n gia t&#x1B0; v&#x1EA5;n c&oacute; li&ecirc;n quan &dstrok;&#x1EBF;n
                        | vi&#x1EC7;c gi&#x1EA3;i quy&#x1EBF;t ho&#x1EB7;c ph&aacute;t sinh t&#x1EEB; s&#x1EF1; vi ph&#x1EA1;m c&#x1EE7;a b&#x1EA1;n trong qu&aacute;
                        | tr&igrave;nh s&#x1EED; d&#x1EE5;ng s&#x1EA3;n ph&#x1EA9;m c&#x1EE7;a ch&uacute;ng t&ocirc;i.
                    h2.fw-bold.text-gray-700.mt-6 Th&ocirc;ng tin li&ecirc;n h&#x1EC7;
                    p.text-gray-700
                        | M&#x1ECD;i th&ocirc;ng tin v&agrave; y&ecirc;u c&#x1EA7;u h&#x1ED7; tr&#x1EE3;, b&#x1EA1;n vui l&ograve;ng g&#x1EED;i v&#x1EC1; &dstrok;&#x1ECB;a ch&#x1EC9;
                        | email: 
                    a(href='mailto:info@#') info@#
                    p.text-gray-700
                    p.text-gray-700
                    p.text-gray-700
                    p.text-gray-700
                .row
                    .col-12
                        .row.gx-4
                            .col-4
                                img.img-fluid.shadow-lg(src='/img/photos/photo-16.jpg' alt='...')
                            .col-3
                                img.img-fluid.shadow-lg.mb-4(src='/img/photos/photo-17.jpg' alt='...')
                                img.img-fluid.shadow-lg(src='/img/photos/photo-18.jpg' alt='...')
                            .col-5
                                .row.gx-5.mb-4
                                    .col-5
                                        img.img-fluid.shadow-lg(src='/img/photos/photo-19.jpg' alt='...')
                                    .col-7
                                        img.img-fluid.shadow-lg(src='/img/photos/photo-20.jpg' alt='...')
                                img.img-fluid.shadow-lg(src='/img/photos/photo-21.jpg' alt='...')
