block content
    #nd_options_navigation_2_container.nd_options_section.nd_options_position_relative
      .nd_options_section(style='background-color: #bb93af ; border-bottom: 1px solid #bb93af ;')
        .nd_options_container.nd_options_clearfix.nd_options_position_relative
          .nd_options_grid_12.nd_options_display_none_all_responsive
            .nd_options_section(style='height: 4px;')
            // LOGO
            img.nd_options_position_absolute.nd_options_left_15(style='top:17px;' alt='' width='246' src='http://www.nicdarkthemes.com/themes/wedding/wp/demo/wedding-planner/wp-content/uploads/sites/2/2016/10/logo-white.png')
            .nd_options_navigation_2.nd_options_navigation_type.nd_options_text_align_right.nd_options_float_right.nd_options_display_none_all_responsive
              .nd_options_display_table
                .nd_options_display_table_cell.nd_options_vertical_align_middle
                  .menu-main-menu-container
                    ul#menu-main-menu-1.menu
                      li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-86.current_page_item.current-menu-ancestor.current-menu-parent.current_page_parent.current_page_ancestor.menu-item-has-children.menu-item-100
                        a(href='#couple' aria-current='page') C&#x1EB7;p &dstrok;&ocirc;i
                      li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-568
                        a(href='#events') S&#x1EF1; ki&#x1EC7;n
                      li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-510
                        a(href='#couple-story') Chuy&#x1EC7;n t&igrave;nh y&ecirc;u
                      li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-355
                        a(href='#people') Ph&ugrave; d&acirc;u &amp; Ph&ugrave; r&#x1EC3;
                      li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-344
                        a(href='##wishes') L&#x1EDD;i ch&uacute;c